<div class="tab-pane fade in" id="notifications">
    {% if app.session.flashBag.has('subscriptionsSuccess') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('subscriptionsSuccess') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('subscriptionsError') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('subscriptionsError') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <form name="subscriptionForm" method="post">
        {% set i = 0 %}
        {% for format,subscriptions in subscriptionFormatList %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{ format }}</h4>
                </div>
                <div class="panel-body">
                    {% for subscription in subscriptions %}
                        {% set name = "subscriptionForm[subscription]["~i~"][value]" %}
                        <div class="form-group">
                            <input name="subscriptionForm[subscription][{{ i }}][id]" value="{{ subscription.activated }}" hidden>
                            {% set checked = "" %}
                            {#{% if subscription.value == 1 %}#}
                                {#{% set checked = "checked" %}#}
                            {#{% endif %}#}
                            {{ subscription.subscriptionTrs[0].name }}
                            <input name="{{ name }}" type="checkbox" value="0" hidden checked>
                            <input name="{{ name }}" type="checkbox" {{ checked }} value="1">
                        </div>
                        {% set i = i+1 %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
    </form>
</div>