<div class="tab-pane fade in active" id="profil">
    {% if app.session.flashBag.has('userSuccess') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('userSuccess') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('userError') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('userError') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_start(userForm) }}
        {{ form_errors(userForm) }}
        <div>
            <h4>Infos obligatoires</h4>
            <div class="form-group">
                <label>*{% trans %}label.first_name{% endtrans %} </label>
                {{ form_errors(userForm.firstName)}}
                {{ form_widget(userForm.firstName,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_start(userForm) }}
            <div class="form-group">
                <label>*{% trans %}label.last_name{% endtrans %} </label>
                {{ form_errors(userForm.lastName)}}
                {{ form_widget(userForm.lastName,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>*{% trans %}label.birth_date{% endtrans %} </label>
                {{ form_errors(userForm.birthDate)}}
                <div id="sandbox-container">
                    <div class="input-group date">
                        {{ form_widget(userForm.birthDate) }}<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>*{% trans %}label.sex{% endtrans %} </label>
                {{ form_errors(userForm.sex)}}
                {{ form_widget(userForm.sex,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>*{% trans %}label.phone_number{% endtrans %} </label>
                {{ form_errors(userForm.phoneNumber)}}
                {{ form_widget(userForm.phoneNumber,  { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label>*{% trans %}label.email{% endtrans %} </label>
                {{ form_errors(userForm.email)}}
                {{ form_widget(userForm.email,  { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div>
            <h4>Infos complémentaires</h4>
            <div class="form-group">
                <div class="form-group">
                    <label>{% trans %}label.description{% endtrans %} </label>
                    {{ form_errors(userForm.description)}}
                    {{ form_widget(userForm.description,  { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
    {{ form_end(userForm) }}
</div>

{% block script %}
    <script>
        function getFormattedDate(date) {
            var year = date.getFullYear();
            var month = (1 + date.getMonth()).toString();
            month = month.length > 1 ? month : '0' + month;
            var day = date.getDate().toString();
            day = day.length > 1 ? day : '0' + day;
            return day  + '-' + month + '-' + year;
        }
        $(document).ready(function() {
            var today =  new Date();
            $('#sandbox-container .input-group.date').datepicker({
                endDate: ""+getFormattedDate(today)+"'",
                format: 'dd-mm-yyyy',
                autoclose: true
            });
        });
    </script>
{% endblock %}
