<div class="form-group">
    {{ form_widget(addressForm.id,  { 'attr': {'required': 'false'} }) }}
</div>
<div class="form-group">
    <label for="address">*{% trans %}label.address{% endtrans %} </label>
    {{ form_widget(addressForm.formattedAddress,  { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="postal_code">*{% trans %}label.postal_code{% endtrans %} </label>
            {{ form_widget(addressForm.postalCode,  { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="locality">*{% trans %}label.locality{% endtrans %} </label>
            {{ form_widget(addressForm.locality,  { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
</div>
<div class="form-group">
    <label for="country">*{% trans %}label.country{% endtrans %} </label>
    {{ form_widget(addressForm.country,  { 'attr': {'class': 'form-control'} }) }}
</div>
