{% extends 'host/user/base.html.twig' %}
{% block form %}
        <form role="form" method="post">
            <div class="row setup-content" id="contact">
                <div class="col-xs-6 col-md-offset-3">
                    <div class="col-md-12">
                        {% if userForm is defined %}
                            {% if app.session.flashBag.has('contactSuccess') %}
                                <div class="alert alert-success">
                                    {% for msg in app.session.flashBag.get('contactSuccess') %}
                                        {{ msg }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if app.session.flashBag.has('contactError') %}
                                <div class="alert alert-danger">
                                    {% for msg in app.session.flashBag.get('contactError') %}
                                        {{ msg }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <h3> {% trans %}label.contact{% endtrans %} </h3>
                            {{ form_start(userForm) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>*{{ form_label(userForm.firstName) }}</label>
                                            {{ form_errors(userForm.firstName) }}
                                            {{ form_widget(userForm.firstName) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>*{{ form_label(userForm.lastName) }}</label>
                                            {{ form_errors(userForm.lastName) }}
                                            {{ form_widget(userForm.lastName) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>*{{ form_label(userForm.phoneNumber) }}</label>
                                        {{ form_errors(userForm.phoneNumber) }}
                                        {{ form_widget(userForm.phoneNumber) }}
                                    </div>
                                </div>
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label">*{{ form_label(userForm.email.first) }}</label>
                                    {{ form_errors(userForm.email.first) }}
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        {{ form_widget(userForm.email.first, {'attr':{'aria-describedby':'emailSuccessStatus'}}) }}
                                    </div>
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="emailSuccessStatus" class="sr-only">(success)</span>
                                </div>
                                <div class="form-group has-success has-feedback">
                                    <label class="control-label">*{{ form_label(userForm.email.second) }}</label>
                                    {{ form_errors(userForm.email.second) }}
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        {{ form_widget(userForm.email.second, {'attr':{'aria-describedby':'emailConfirmationSuccessStatus'}}) }}
                                    </div>
                                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                    <span id="emailConfirmationSuccessStatus" class="sr-only">(success)</span>
                                </div>
                                <div class="form-group">
                                    <label style="float: left">
                                        *{{ form_label(userForm.password.first) }}
                                        <a href="#" data-toggle="tooltip" title="{% trans %}{% endtrans %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                                    </label>
                                    {{ form_errors(userForm.password.first) }}
                                    {{ form_widget(userForm.password.first) }}
                                </div>
                                <div class="form-group">
                                    <label>*{{ form_label(userForm.password.second) }}</label>
                                    {{ form_errors(userForm.password.second) }}
                                    {{ form_widget(userForm.password.second) }}
                                </div>
                            {{ form_end(userForm) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}