{% extends 'host/user/new/base.html.twig' %}
{% block form %}
    <form role="form" method="post">
        <div class="row setup-content" id="domain">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    {% if domainForm is defined %}
                        {% if app.session.flashBag.has('domainSuccess') %}
                            <div class="alert alert-success">
                                {% for msg in app.session.flashBag.get('domainSuccess') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('domainError') %}
                            <div class="alert alert-danger">
                                {% for msg in app.session.flashBag.get('domainError') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <h3>{% trans %}label.the_domain{% endtrans %}</h3>
                        {{ form_start(domainForm) }}
                            {{ form_row(domainForm.name) }}
                            {{ form_row(domainForm.wineRegion) }}
                            <br>
                            {{ form_row(domainForm.address.formattedAddress) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(domainForm.address.postalCode) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(domainForm.address.locality) }}
                                </div>
                            </div>
                            {{ form_row(domainForm.address.country) }}
                            <br>
                            {{ form_row(domainForm.submit) }}
                        {{ form_end(domainForm) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}