{% extends 'host/base.html.twig' %}
{% block table %}
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#presentation" data-toggle="tab"><i class="glyphicon glyphicon-home"></i>{% trans %}label.presentation{% endtrans %}</a></li>
                <li><a href="#pictures" data-toggle="tab"><i class="glyphicon glyphicon-picture"></i>{% trans %}label.pictures{% endtrans %}</a></li>
                <li><a href="#address" data-toggle="tab"><i class="glyphicon glyphicon-zoom-in"></i>{% trans %}label.address{% endtrans %}</a></li>
                <li><a href="#informations" data-toggle="tab"><i class="glyphicon glyphicon-info-sign"></i>{% trans %}label.informations{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="presentation">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{% trans %}label.presentation{% endtrans %}</h4>
                        </div>
                        <div class="panel-body">
                            <form name="domain" method="post" action="{{ path('domain_submit') }}">
                                <div class="form-group">
                                    {{ form_widget(domainForm.id,  { 'attr': {'required': 'false'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="postal_code">*{% trans %}label.wine_region{% endtrans %} </label>
                                    {{ form_widget(domainForm.wineRegion,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="address">*{% trans %}label.name{% endtrans %} </label>
                                    {{ form_widget(domainForm.name,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="postal_code">*{% trans %}label.description{% endtrans %} </label>
                                    {{ form_widget(domainForm.description,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="pictures">
                    <h4>{% trans %}label.pictures{% endtrans %}</h4>
                    <div id="Carousel" class="carousel slide">
                        {% set imagePerSlide = 3 %}
                        {% set totalRow =  ((domain.medias|length)/imagePerSlide)|round %}
                        <ol class="carousel-indicators">
                            {% for i in 0..totalRow -1 %}
                                {% set class ="" %}
                                {% if loop.first %}
                                    {% set class ="active" %}
                                {% endif %}
                                <li data-target="#Carousel" data-slide-to="{{ i }}" class="{{ class }}"></li>
                            {% endfor %}
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            {% set j = 0 %}
                            {% for i in 0..totalRow - 1 %}
                                {% set class = "item"%}
                                {% if loop.first %}
                                    {% set class ="item active" %}
                                {% endif %}
                                <div class="{{ class }}">
                                    <div class="row">
                                        {% for f in 0..imagePerSlide - 1%}
                                            {% if j <= domain.medias|length - 1 %}
                                                <div class="col-md-4">
                                                    <a href="{{ picturePath ~ domain.medias[j].name }}" rel="gallery2" class="fancybox img-hover-v1">
                                                        <img src="{{ picturePath ~ domain.medias[j].name }}" style="max-width:100%;">
                                                    </a>
                                                </div>
                                                {% set j = j + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    </div><!--.row-->
                                </div><!--.item-->
                            {% endfor %}
                        </div><!--.carousel-inner-->
                        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                    </div><!--.Carousel-->
                    <p>Ajouter des photos :</p>
                    <form name="domain" method="post" action="{{ path('domain_pictures_submit') }}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input hidden name="domain" value="{{ domain.id }}">
                        </div>
                        <div class="form-group">
                            <input type="file" name="medias[]" multiple class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    </form>
                </div>
                <div class="tab-pane fade in" id="address">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{% trans %}label.address{% endtrans %}</h4>
                        </div>
                        <div class="panel-body">
                            {{ form_start(addressForm) }}
                            <div class="form-group">
                                {{ form_widget(addressForm.id,  { 'attr': {'required': 'false'} }) }}
                            </div>
                            <div class="form-group">
                                <label for="address">*{% trans %}label.address{% endtrans %} </label>
                                {{ form_widget(addressForm.formattedAddress,  { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="postal_code">*{% trans %}label.postal_code{% endtrans %} </label>
                                        {{ form_widget(addressForm.postalCode,  { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="locality">*{% trans %}label.locality{% endtrans %} </label>
                                        {{ form_widget(addressForm.locality,  { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country">*{% trans %}label.country{% endtrans %} </label>
                                {{ form_widget(addressForm.country,  { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                            {{ form_end(addressForm) }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="informations">
                    <form method="post" name="characteristicDomainValue" action="{{ path('characteristic_domain_value_submit') }}">
                        <input name="characteristicDomain[domain]" value="{{ domain.id }}" hidden>
                        {% set i = 0 %}
                        {% for characteristicCategory,characteristicDomainValues in characteristicCategories %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>{{ characteristicCategory }}</h4>
                                </div>
                                <div class="panel-body">
                                    {% for characteristicDomainValue in characteristicDomainValues %}
                                        {% set name = "characteristicDomain[characteristicDomainValue]["~i~"][value]" %}
                                        <div class="form-group">
                                            <input name="characteristicDomain[characteristicDomainValue][{{ i }}][id]" value="{{ characteristicDomainValue.id }}" hidden>
                                            <input name="characteristicDomain[characteristicDomainValue][{{ i }}][characteristic]" value="{{ characteristicDomainValue.characteristic.id }}" hidden >
                                            <label style="font-weight: normal">{{ characteristicDomainValue.characteristic.characteristicTrs[0].name }} </label>
                                            {% if characteristicDomainValue.characteristic.format.name == "BOOLEAN" %}
                                                {% set checked = "" %}
                                                {% if characteristicDomainValue.value == 1 %}
                                                    {% set checked = "checked" %}
                                                {% endif %}
                                                <input name="{{ name }}" type="checkbox" value="0" hidden checked>
                                                <input name="{{ name }}" type="checkbox" {{ checked }} value="1">
                                            {% elseif characteristicDomainValue.characteristic.format.name == "TEXT" %}
                                                <textarea name="{{ name }}" class="form-control" style="height: 150px">{{ characteristicDomainValue.value }}</textarea>
                                            {% elseif characteristicDomainValue.characteristic.format.name == "PRICE" %}
                                                <input name="{{ name }}" class="form-control" value="{{ characteristicDomainValue.value }}">
                                            {% else %}
                                                <input name="{{ name }}" value="{{ characteristicDomainValue.value }}" class="form-control">
                                            {% endif %}
                                        </div>
                                        {% set i = i+1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function() {
            FancyBox.initFancybox();
        });
    </script>
{% endblock %}
