{% extends 'host/rental/new/base.html.twig' %}
{% block new %}
    {{ form_start(rentalForm) }}
        <div class="form-group">
            <label>*{% trans %}label.name{% endtrans %} </label>
            {{ form_row(rentalForm.name,  { 'attr': {'class': 'form-control'} }) }}
        </div>
        <p style="font-style: italic">Ex.:{% trans %}label.rental_name_exemple{% endtrans %}</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>*{% trans %}label.property{% endtrans %} </label>
                    {{ form_row(rentalForm.property,  { 'attr': {'class': 'form-control', 'id' :'property'} }) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>*{% trans %}label.rental_category{% endtrans %} </label>
                    {{ form_row(rentalForm.rentalCategory,  { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>
                *{% trans %}label.price{% endtrans %}/{{ 'label.night'|transchoice(1) }}
                <a href="#" data-toggle="tooltip" data-placement="right" title="{% trans %}help.rental_price{% endtrans %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
            </label>
            {{ form_errors(rentalForm.price,  { 'attr': {'class': 'form-control'} }) }}
            <div class="input-group">
                {{ form_widget(rentalForm.price,  { 'attr': {'class': 'form-control'} }) }}
                <div class="input-group-addon">€</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        *{% trans %}label.people_number{% endtrans %}
                    </label>
                    <div class="input-group">
                        {{ form_row(rentalForm.peopleNumber,  { 'attr': {'class': 'form-control'} }) }}
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        *{% trans %}label.minimum_rental_period{% endtrans %}
                        <a href="#" data-toggle="tooltip" data-placement="right" title="{% trans %}help.minimum_rental_period{% endtrans %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </label>
                    <div class="input-group">
                        {{ form_row(rentalForm.minimumRentalPeriod,  { 'attr': {'class': 'form-control'} }) }}
                        <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg pull-right" type="button" >{% trans %}label.next{% endtrans %}</button>
    {{ form_end(rentalForm) }}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            //remplace char by space in price input
            $("#rental_price").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                replaceChar(e);
            });
        })
    </script>
{% endblock %}