{% extends 'host/rental/new/base.html.twig' %}
{% block new %}
    {{ form_start(rentalForm) }}
    <div class="form-group">
        <label for="address">{% trans %}label.name{% endtrans %} </label>
        {{ form_row(rentalForm.name,  { 'attr': {'class': 'form-control'} }) }}
    </div>
    <p style="font-style: italic">{% trans %}label.property_name_exemple{% endtrans %}</p>
    <div class="form-group">
        <label for="address">{% trans %}label.property{% endtrans %} </label>
        {{ form_row(rentalForm.property,  { 'attr': {'class': 'form-control', 'id' :'property'} }) }}
    </div>
    <div class="form-group">
        <label>{% trans %}label.price{% endtrans %} </label>
        {{ form_errors(rentalForm.price,  { 'attr': {'class': 'form-control'} }) }}
        <div class="input-group">
            {{ form_widget(rentalForm.price,  { 'attr': {'class': 'form-control'} }) }}
            <div class="input-group-addon">$</div>
        </div>
    </div>
    <div class="form-group">
        <label>{% trans %}label.people_number{% endtrans %} </label>
        {{ form_row(rentalForm.peopleNumber,  { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        <label>{% trans %}label.minimum_rental_period{% endtrans %} </label>
        {{ form_row(rentalForm.minimumRentalPeriod,  { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(rentalForm.description,  { 'attr': {'style': ''} }) }}
    </div>
    <button type="submit" class="btn btn-primary btn-lg pull-right" type="button" >{% trans %}label.next{% endtrans %}</button>
    {{ form_end(rentalForm) }}
{% endblock %}