{% extends 'admin/base.html.twig' %}
{% block table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for format in formats %}
            <tr>
                <td>{{ format.name }}</td>
                <td>{{ format.description }}</td>
                <td>
                    <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadUpdateForm('{{ path('format_new_form', {'id' : format.id}) }}')"/>
                    <input type="button" class="btn btn-primary" value="Supprimer" onclick="setPathDeleteButton('{{ path('format_delete', {'id' : format.id}) }}')"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-primary pull-left" id="create">
        Ajouter
    </button>
{% endblock %}
{% block script %}
    <script>
        function setPathDeleteButton(path) {
            $("#delete").attr("href", path);
            $('#confirmation').modal();
        }
        $( "#create" ).on('click', function() {
            $.ajax({
                url: "{{ path('format_new_form')}}",
                type: 'GET',
                async: false,
                success: function (data, textStatus, jqXHR) {
                    $('#format-body').html(data);
                    $('#format').modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        });
        $( "#validate" ).on('click', function() {
            $('form#format').submit();
        });
        function loadUpdateForm(path) {
            $.ajax({
                url:  path,
                type: 'GET',
                async: false,
                success: function (data, textStatus, jqXHR) {
                    $('#format-body').html(data);
                    $('#format').modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        }
    </script>
{% endblock %}
