{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-2">
        {{ include('admin/navbar.html.twig') }}
    </div><!--/end left column-->

    <div class="col-md-10">
        <div class="container">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for format in formats %}
                    <tr>
                        <td>{{ format.name }}</td>
                        <td>{{ format.description }}</td>
                        <td>
                            <input type="button"  class="btn btn-primary" value="Editer" id="languageUpdate" onclick="loadUpdateForm('{{ path('language_new_form', {'id' : language.id}) }}')"/>
                            <input type="button" class="btn btn-primary" value="Supprimer" onclick="setPathDeleteButton('{{ path('language_delete', {'id' : language.id}) }}')"/>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary pull-left" id="languageCreate">
            Ajouter un format
        </button>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="language">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ajouter/modifier une langue</h4>
                </div>
                <div class="modal-body" id="language-body">
                </div><!-- /.modal-content -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="languageValidate" class="btn btn-primary pull-right">Valider</button>
                </div>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="confirmation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Supprimer un format</h4>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sur de vouloir supprimer ce format ?</p>
                </div><!-- /.modal-content -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a id="languageDelete" type="submit" class="btn btn-primary pull-right">Valider</a>
                </div>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <script>
        function setPathDeleteButton(path) {
            $("#languageDelete").attr("href", path);
            $('#confirmation').modal();
        }
        $( "#languageCreate" ).on('click', function() {
            $.ajax({
                url: "{{ path('language_new_form')}}",
                type: 'GET',
                async: false,
                success: function (data, textStatus, jqXHR) {
                    $('#language-body').html(data);
                    $('#language').modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        });
        $( "#languageValidate" ).on('click', function() {
            $('form#language').submit();
        });
        function loadUpdateForm(path) {
            $.ajax({
                url:  path,
                type: 'GET',
                async: false,
                success: function (data, textStatus, jqXHR) {
                    $('#language-body').html(data);
                    $('#language').modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        }
        $('#myModal').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })
    </script>
{% endblock %}
