{% extends 'admin/base.html.twig' %}
{% block table %}
    <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    <a type="button" class="btn btn-default btn-circle btn-plus-admin" href="{{ path('articleTr_new_form') }}" >
                        <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                    </a>
                    Article
                </th>
                <th>Autheur</th>
                <th>Catégorie(s)</th>
                <th>Trad. manquante</th>
            </tr>
            </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td data-toggle="collapse" data-target="#article-{{ article.id }}" class="accordion-toggle" style="cursor:pointer;max-width: ">
                        <span style="font-size: 12px">{{ article.title }}</span>
                    </td>
                    <td data-toggle="collapse" data-target="#article-{{ article.id }}" class="accordion-toggle" style="cursor:pointer">
                    {{ article.user.fullName }}
                    </td>
                    <td>
                        {% set length = article.articleCategories|length %}
                        {% for category in article.articleCategories %}
                            {{ category.title }}
                            {% if loop.index < length %}
                                <span>, </span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ article.missingLanguages|length }}
                    </td>
                </tr>
                <tr id="article-{{ article.id }}" class="collapse">
                    <td colspan="3">
                        <table class="table table-condensed table-responsive">
                            <tbody>
                            {% for articleTr in article.articleTrs %}
                                <tr>
                                    <td>
                                        <img src="{{ language_directory ~ articleTr.language.picture }}" height="20px">
                                        <span style="margin-left: 10px">{{ articleTr.title }}</span>
                                        <br><br>
                                    </td>
                                    <td>
                                        {{ articleTr.shortDescription }}
                                    </td>
                                    <td>
                                        <a href="{{ path('articleTr_new_form', {'id':articleTr.id, 'articleId' : article.id}) }}" class="btn btn-primary">Editer</a>
                                        <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('articleTr_delete', {'id' : articleTr.id}) }}')"/>
                                        {% if articleTr.activated == 1 %}
                                            {% set checked = 'checked' %}
                                        {% else %}
                                            {% set checked = '' %}
                                        {% endif %}
                                        <input {{ checked }} onchange="activate('{{ path('articleTr_activated') }}', 'articleTrActivatedToggle', '{{ articleTr.id }}')" id="articleTrActivatedToggle-{{ articleTr.id }}" type="checkbox" value="{{ articleTr.id }}" data-toggle="toggle" data-off="Not activated" data-on="Activated" data-width="126"  data-onstyle="success">
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for missingLanguage in article.missingLanguages %}
                                <tr>
                                    <td colspan="3">
                                        <a type="button" style="background-image: url({{ language_directory ~ missingLanguage.picture }})" class="btn btn-default btn-circle btn-plus-admin" href="{{ path('articleTr_new_form', {'id': 0, 'articleId': article.id, 'languageId':missingLanguage.id}) }}">
                                        <span class="glyphicon-plus-missing-languages-round">
                                            <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                                        </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block modal %}
    <span id="modalDelete">
        <div class="modal fade" tabindex="-1" role="dialog" id="confirmation">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Suppression</h4>
                    </div>
                    <div class="modal-body">
                        <p>Etes-vous sur de vouloir supprimer cet élément ?</p>
                    </div><!-- /.modal-content -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a id="delete" type="submit" class="btn btn-primary pull-right">Valider</a>
                    </div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </span>
    <span id="modalCreate">
    </span>
{% endblock %}
{% block script %}
    <script>
        function setPathDeleteButton(path) {
            console.log("in");
            $("#delete").attr("href", path);
            $('#confirmation').modal();
        };
        function loadForm(path, modalId) {
            console.log(path);
            console.log(modalId);
            $.ajax({
                url:  path,
                type: 'GET',
                async: false,
                success: function (data, textStatus, jqXHR) {
                    console.log("ifffn");
                    $('#modalCreate').html(data);
                    $('#'+modalId).modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        }
        function activate(path, checkBox, id){
            var checkBoxId = checkBox+'-'+id;
            if(document.getElementById(checkBoxId).checked){
                activatedValue = 1;
            } else {
                activatedValue = 0;
            }
            $.ajax({
                url:  path,
                type: 'PUT',
                data: {activated:activatedValue, id:id},
                async: false,
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        }
    </script>
{% endblock %}
