<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Winefing{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="winefing">
    <meta name="author" content="a.carval">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">#}
    {% stylesheets '@bootstrap_css''@arillo_css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <!-- selectpicker -->

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

    <!-- selectpicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
    <!-- START PLUGIN SUMMERNOTE -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <!-- END PLUGIN SUMMERNOTE -->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!-- Menu Toggle Script -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% javascripts 'bundles/app/js/custom.js' 'bundles/app/js/dropzone.js' 'bundles/app/js/jquery.fancybox.pack.js' 'bundles/app/js/jquery.fancybox.js'
    'bundles/app/js/fancy-box.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

    <body><!-- begin:navbar -->
        {% block nav %}
            {{ include('menu.html.twig') }}
        {% endblock %}
        <div class="container" style="margin-bottom: 40px; margin-top:40px">
            {% block body %}
            {% endblock %}
        </div>
        {% block footer %}
            {{ include('footer.html.twig') }}
        {% endblock %}
        <!-- begin:modal-signin -->
        <div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign in</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="emailAddress">Email address</label>
                                <input type="email" class="form-control input-lg" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control input-lg" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="forget"> Keep me logged in
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p>Don't have account ? <a href="#modal-signup"  data-toggle="modal" data-target="#modal-signup">Sign up here.</a></p>
                        <input type="submit" class="btn btn-danger btn-block btn-lg" value="Sign in">
                    </div>
                </div>
            </div>
        </div>
        <!-- end:modal-signin -->

        <!-- begin:modal-signup -->
        <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign up</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" placeholder="Confirm Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="agree"> Agree to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <p>Already have account ? <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">Sign in here.</a></p>
                        <input type="submit" class="btn btn-danger btn-block btn-lg" value="Sign up">
                    </div>
                </div>
            </div>
        </div>
        <!-- end:modal-signup -->
    {% block script %}
    {% endblock %}
    </body>
</html>
