<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Winefing{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="winefing">
    <meta name="author" content="a.carval">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">#}
    {% stylesheets '@other_css''@custom_css''@unify_css''@bootstrap_css''@arillo_css' '@phone_number_css' '@toast_css'
    '@bootstrap_select_css' '@bootstrap_slider_range_css'
    '@clockpicker_css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- datepicker -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css.map" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css.map" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
    <!-- datepicker -->
    <!-- selectpicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

    <!-- START PLUGIN SUMMERNOTE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <!-- END PLUGIN SUMMERNOTE -->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!-- Menu Toggle Script -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    {% block javascripts %}
        {% javascripts 'assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js'
                        'bundles/app/js/form-control.js'
                        'bundles/app/js/host-registration.js'
                        'bundles/app/js/custom.js'
                        'bundles/app/js/dropzone.js'
                        'bundles/app/js/jquery.fancybox.pack.js'
                        'bundles/app/js/jquery.fancybox.js'
                        'bundles/app/js/card.js'
                        'bundles/app/js/fancy-box.js'
                        'assets/vendor/intl-tel-input/build/js/intlTelInput.js'
                        'assets/vendor/jquery-toast-plugin/dist/jquery.toast.min.js'
                        'assets/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js'
                        'assets/vendor/clockpicker/dist/jquery-clockpicker.min.js'
                        'bundles/app/js/unify/app.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
</head>

    <body class="header-fixed">
        <!--=== Header v6 ===-->
        <div class="header-v6 header-dark-transparent header-sticky">
            {% block nav %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted("ROLE_HOST") %}
                        {{ include('nav/host.html.twig') }}
                    {% elseif is_granted("ROLE_USER") %}
                        {{ include('nav/user.html.twig') }}
                    {% elseif is_granted("ROLE_MANAGMENT") or is_granted("ROLE_BLOG") or is_granted("ROLE_TECHNIQUE") %}
                        {{ include('nav/admin.html.twig') }}
                    {% endif %}
                {% else %}
                    {{ include('nav/notConnected.html.twig') }}
                {% endif %}
            {% endblock %}
        </div>
        <!--=== End Header v6 ===-->
        <div>
            {% block body %}
            {% endblock %}
        </div>
        {% block footer %}
            {{ include('footer.html.twig') }}
        {% endblock %}
        <!-- begin:modal-signin -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form method="post" action="{{ path('login') }}">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{% trans %}label.sign_in{% endtrans %}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>{% trans %}label.email{% endtrans %}</label>
                                <input type="email" id="username" name="_username" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>{% trans %}label.password{% endtrans %}</label>
                                <input type="password" id="password" name="_password" class="form-control"/>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked> {% trans %}label.keep_me_logged_in{% endtrans %}
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p>{% trans %}question.not_acccount{% endtrans %}<a href="#modal-signup"  data-toggle="modal" data-target="#modal-signup"><br>{% trans %}label.sign_up_here{% endtrans %}</a></p>
                            <input type="submit" class="btn btn-danger btn-block btn-lg" value="Sign in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end:modal-signin -->

        <!-- begin:modal-signup -->
        <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{% trans %}label.registration{% endtrans %}</h4>
                    </div>
                    <form role="form" method="post" action="{{ path('registration') }}">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="firstName" required class="form-control" placeholder="{% trans %}label.first_name{% endtrans %}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="lastName" required class="form-control" placeholder="{% trans %}label.last_name{% endtrans %}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input name="emailFirst" required type="email" class="form-control" placeholder="{% trans %}label.email{% endtrans %}">
                            </div>
                            <div class="form-group">
                                <input name="emailSecond" required type="email" class="form-control" placeholder="{% trans %}label.confirmation_email{% endtrans %}">
                            </div>
                            <div class="form-group">
                                <input name="passwordFirst" required type="password" class="form-control" placeholder="{% trans %}label.password{% endtrans %}">
                            </div>
                            <div class="form-group">
                                <input name="passwordSecond" required type="password" class="form-control" placeholder="{% trans %}label.confirmation_password{% endtrans %}">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input required type="checkbox" name="agree">{% trans %}label.agree_with_terms_of_use{% endtrans %} <a href="#">{% trans %}label.here{% endtrans %}.</a>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <p>{% trans %}question.already_have_account{% endtrans %}<a href="#modal-signin" data-toggle="modal" data-target="#login"> {% trans %}label.sign_in{% endtrans %}.</a></p>
                            <input type="submit" class="btn btn-danger btn-block btn-lg" value="{% trans %}label.registration{% endtrans %}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="endBody">

        </div>
        <!-- end:modal-signup -->
    {% block script %}
        <script>
            //var for the toast message header
            jQuery(document).ready(function() {
                //for the header
                App.init();
            });
            var toastMessageImgAdded = '{{ 'success.image_added' | trans({}) }}';
            var toastHeadingSuccess = '{{ 'success.generic_title' | trans({}) }}';
            var toastHeadingError = '{{ 'error.generic_title' | trans({}) }}';
            var toastMessageError = '{{ 'error.generic_message' | trans({}) }}';
            //initiate the tooltip
            $('[data-toggle="tooltip"]').tooltip();
            //for the characteristic of time type
            $('.clockpicker').clockpicker();
        </script>
    {% endblock %}
    </body>
</html>
