{% extends 'base.html.twig' %}
{% block body %}
    <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v2">
        <div class="container">
            <h1>{{ 'label.welcome_to'|trans({'%name%' : 'Winefing'}) }}</h1>
            <p>Wine Hosting, Wide open</p>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->
    <div>
        {#<!-- End Interactive Slider v2 -->#}
        {{ form_start(filterForm) }}
            <div class="container advance-search">
                <div class="row" style="margin-top: -15px;position: relative;z-index: 2">
                    <div class="col-md-3 col-sm-6">
                        <div class="quick-search">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                    <label for="minprice">{% trans %}label.wine_region{% endtrans %} ?</label>
                                    {{ form_widget(filterForm.wineRegion) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="quick-search">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 search_padding">
                                    <div class="form-group" style="margin-left: -20px;margin-right: -20px;margin-top: 10px">
                                        <label for="minprice">{% trans %}label.when{% endtrans %} ?</label>
                                        <div id="sandbox-container">
                                            <div class="input-daterange input-group" id="datepicker">
                                                {{ form_row(filterForm.startDate) }}
                                                <span class="input-group-addon">{% trans %}label.to{% endtrans %}</span>
                                                {{ form_row(filterForm.endDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="quick-search">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="minprice">{% trans %}label.people_number{% endtrans %} ?</label>
                                        {{ form_widget(filterForm.peopleNumber) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="quick-search">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:31px 0;text-align: center">
                                    {{ form_widget(filterForm.submit) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(filterForm) }}
    </div>
    <div>
        <div class="container content">
            <div class="row">
                <div class="text-center" style="margin-bottom: 50px">
                    <h2>{{ 'label.wine_region_month'|trans() }}</h2>
                </div>
                <div>
                <div class="col-md-6">
                    <img src="{{ discover_directory ~'4.jpg' }}" class="img-responsive margin-bottom-10" alt="{{ wineRegion.name }}">
                </div>
                <div class="col-md-6">
                    <h2>{{ wineRegion.name }}</h2>
                    <p>{{ wineRegion.description }}</p>
                    <div class="row margin-bottom-10 hidden-xs">
                        <div class="col-md-3">
                            <a href="{{ discover_directory ~'4.jpg' }}" title="{{ wineRegion.name }}" data-rel="gallery" class="fancybox img-hover-v1">
                                <img class="discover-img" src="{{ discover_directory ~'4.jpg' }}"alt="{{ wineRegion.name }}">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ discover_directory ~'3.JPG' }}" title="{{ wineRegion.name }}" data-rel="gallery" class="fancybox img-hover-v1">
                                <img class="discover-img" src="{{ discover_directory ~'3.JPG' }}" alt="{{ wineRegion.name }}">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ discover_directory ~'1.jpg' }}" title="{{ wineRegion.name }}" data-rel="gallery" class="fancybox img-hover-v1">
                                <img class="discover-img" src="{{ discover_directory ~'1.jpg' }}" alt="{{ wineRegion.name }}">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ discover_directory ~'5.JPG' }}" title="{{ wineRegion.name }}" data-rel="gallery" class="fancybox img-hover-v1">
                                <img class="discover-img" src="{{ discover_directory ~'5.JPG' }}" alt="{{ wineRegion.name }}">
                            </a>
                        </div>
                    </div>
                    <div style="margin-top: 20px">
                        <a class="btn btn-primary" href="{{ path('domains_by_criteria', {'domain_filter': {'wineRegion': [wineRegion.id] }}) }}">{{ 'label.see_domains'|trans() }}</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey">
        <!--=== Content Part ===-->
        <div class="container content-sm">
            <div class="text-center" style="margin-bottom: 50px">
                <h2>{{ 'label.let_yourself_be_guided'|trans() }}</h2>
            </div>
            <div class="row">
                {% for tag in tags %}
                    <div class="col-md-4">
                        <div class="view view-tenth view-img-size">
                            <img class="img-responsive" src="{{ tag_directory ~ tag.picture }}" alt="{{ tag.name }}" />
                            <div class="mask">
                                <h2>{{ tag.name }}</h2>
                                <a href="{{ path('domains_by_criteria', {'domain_filter': {'tag': [tag.id] } }) }}" class="info">{{ 'label.see_domains'|trans() }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div><!--/row-->
        </div><!--/container-->
        <!--=== End Content Part ===-->
    </div>
    <section id="offer" class="section_padding">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-title heading-title-alt">
                            <h3 class="text-center">{{ 'label.offer'|trans() }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="image_offer" style="background-image: url('{{ asset('Resources/giftCard/chateau_de_camarsac.jpg') }}');background-position: center;height: 250px;">
                            <a href="{{ path('boxes') }}">
                                <div class="image_hover_inverse text-center" style="padding:78px 20px;height: 250px;">
                                    <h4>{{ 'label.gift_card'|trans() }}</h4>
                                    <p>{{ 'text.offer_home'|trans() }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <a href="{{ path('boxes') }}">
                            <img src="{{ asset('Resources/giftCard/trois_cartes.JPG') }}" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="image_offer" style="background-image: url('{{ asset('Resources/giftCard/chateau_grand_callamand.jpg') }}');background-position: center;height: 250px;">
                            <a href="{{ path('boxes') }}">
                                <div class="image_hover_inverse text-center" style="padding:78px 20px; height: 250px;">
                                    <h4>{{ 'label.gift_card'|trans() }}</h4>
                                    <p>{{ 'label.price_from'|trans() ~ ' 150€'}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="text-center" style="margin:30px 0 20px"><a href="{{ path('boxes') }}" class="btn btn-section btn-danger">{{ 'label.know_more'|trans() }}</a></p>
            </div>
        </div>
    </section>
    <div class="bg-grey">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-title heading-title-alt">
                            <h3 class="text-center">{{ 'label.how_it_works'|trans() }}</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-container">
                            <div class="service-icon">
                                <a><i class="fa fa-map-marker"></i></a>
                            </div>
                            <div class="service-content">
                                <h3>{{ 'label.find'|trans() }}</h3>
                                <p>{{ 'label.your_destination'|trans() }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- break -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-container">
                            <div class="service-icon">
                                <a><i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <div class="service-content">
                                <h3>{{ 'label.order'|transchoice(1) }}</h3>
                                <p>{{ 'label.order_online'|trans() }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- break -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-container">
                            <div class="service-icon">
                                <a><object data="{{ asset('glass-with-wine.svg') }}"></object></a>
                            </div>
                            <div class="service-content">
                                <h3>{{ 'label.live'|trans() }}</h3>
                                <p>{{ 'label.a_exceptional_moment'|trans() }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        FancyBox.initFancybox();
        $(document).ready(function() {
            $('#sandbox-container .input-daterange').datepicker({
                startDate: ""+getFormattedDate(new Date)+"'",
                format: 'dd-mm-yyyy',
                orientation: "bottom auto",
                autoclose: true
            });
            $('.selectpicker').selectpicker({
//                noneSelectedText:'',
                placeholder: '{{ 'label.select_wine_region'|trans() }}',
                width: '100%'
            });
        });
    </script>
{% endblock %}

