{% extends 'base.html.twig' %}
{% block body %}
    <div class="cover-img" style="background: url({{ banner_directory ~'sign-in.jpg' }})">
        <h1>{{ 'label.login'|trans() }}</h1>
    </div>
    <div class="bg-grey">
        <div class="container">
            <div class="content-sm">
                <div class="row">
                    <div class="col-sm-5 sm-margin-bottom-50 col-sm-offset-1">
                        <div class="service-block-v8" style="height: 400px">
                            <h3 class="text-center">{% trans %}label.sign_in{% endtrans %}</h3>
                            <br>
                            <div>
                                {% if error is defined and error %}
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                    <span><a data-toggle="modal" data-target="#modal-email">{{ 'question.forgotten_password'|trans() }}</a></span>
                                {% endif %}
                                <form method="post">
                                    <div class="form-group {% if error %}has-error{% endif %}">
                                        <label>{% trans %}label.email{% endtrans %}</label>
                                        <input type="email" id="username" name="_username" class="form-control"/>
                                    </div>
                                    <div class="form-group {% if error %}has-error{% endif %}">
                                        <label>{% trans %}label.password{% endtrans %}</label>
                                        <input type="password" id="password" name="_password" class="form-control"/>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="forget">{% trans %}label.keep_me_logged_in{% endtrans %}
                                        </label>
                                    </div>
                                    <input type="submit" name="login" class="btn btn-primary"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 sm-margin-bottom-50">
                        <div class="service-block-v8"  style="height: 400px">
                            <h3 class="text-center">{{ 'label.not_have_account'|trans() }}</h3>
                            <br>
                            <p>{{ 'label.create_an_account'|trans() }} :</p>
                            <div>
                                <a class="btn btn-success btn-lg" style="width: 100%">VITICULTEUR</a>
                                <br><br>
                                <a class="btn btn-primary btn-lg" style="width: 100%">WINE LOVER</a>
                            </div>
                        </div>
                        {#<img style="width: 100%"src="{{ picture_directory ~'sign-in.jpeg' }}">#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}