{% extends 'host/base.html.twig' %}
{% block table %}
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" id="nav">
                <li class="active"><a href="#presentation" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> {% trans %}label.presentation{% endtrans %}</a></li>
                <li><a href="#rentals" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> {% trans %}label.rentals{% endtrans %}</a></li>
                <li><a href="#medias" data-toggle="tab"><i class="glyphicon glyphicon-picture"></i> {% trans %}label.pictures{% endtrans %}</a></li>
                <li><a href="#address" data-toggle="tab"><i class="glyphicon glyphicon-zoom-in"></i> {% trans %}label.address{% endtrans %}</a></li>
                <li><a href="#informations" data-toggle="tab"><i class="glyphicon glyphicon-info-sign"></i> {% trans %}label.informations{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="presentation">
                    {% if app.session.flashBag.has('presentationSuccess') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('presentationSuccess') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if app.session.flashBag.has('presentationError') %}
                        <div class="alert alert-danger">
                            {% for msg in app.session.flashBag.get('presentationError') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{% trans %}label.presentation{% endtrans %}</h4>
                        </div>
                        <div class="panel-body">
                            {{ form_start(propertyForm) }}
                                <div class="form-group">
                                    <label>*{% trans %}label.property_category{% endtrans %} </label>
                                    {{ form_errors(propertyForm.propertyCategory)}}
                                    {{ form_widget(propertyForm.propertyCategory,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label>*{% trans %}label.name{% endtrans %} </label>
                                    {{ form_errors(propertyForm.name)}}
                                    {{ form_widget(propertyForm.name,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div>
                                    <label>{% trans %}label.description{% endtrans %} </label>
                                    {{ form_errors(propertyForm.description)}}
                                    {{ form_widget(propertyForm.description,  { 'attr': {'class': 'form-control'} }) }}
                                </div><br>
                                <div>
                                    <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                                </div>
                            {{ form_end(propertyForm) }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="rentals">
                    {% set length = rentals|length %}
                    {% set i = 0 %}
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div>
                                    <span style="font-size: 18px;font-family: 'Raleway', sans-serif;font-weight: 800">{% trans %}label.rentals{% endtrans %}</span>
                                    <a href="{{ path('rental_new', {'property': app.request.get('id')}) }}">
                                        <button class="btn btn-primary btn-circle btn-lg">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                {% if length == 0 %}
                                    <p>{% trans %}label.no_rental_for_property{% endtrans %}.</p>
                                {% endif %}
                                {% for j in 0..(length/3)|round(0, 'ceil') %}
                                    <div class="col-sm-12">
                                        <ul class="nav nav-pills nav-stacked">
                                            {% for property in i..(i+2) if (i < length) %}
                                                <div class="col-sm-3">
                                                    <div class="property-container">
                                                        <div class="property-image">
                                                            <img style="width:100%;height: 100%" class="card-img-top" src="{{ rental_directory ~ rentals[i].mediaPresentation }}" alt="{{ rentals[i].name }}">
                                                            <div class="property-features-grey text-center">
                                                               <span class="glyphicon glyphicon-time property-features-span-margin">
                                                                    {{ rentals[i].minimumRentalPeriod }}
                                                                </span>
                                                                <span class="glyphicon glyphicon-user property-features-span-margin">
                                                                    {{ rentals[i].peopleNumber }}
                                                                </span>
                                                                <span class="glyphicon glyphicon-euro property-features-span-margin">
                                                                    {{ rentals[i].price }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="property-content">
                                                            <h3><a href="{{ path('rental_edit', {'id': rentals[i].id }) }}">{{ rentals[i].name }}</a> <small>{{ rentals[i].description }}</small></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set i = i+1 %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="medias">
                    <h4>
                        {% trans %}label.pictures{% endtrans %}
                        <a href="#" data-toggle="tooltip" data-placement="right" title="{% trans %}help.pictures{% endtrans %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    </h4>
                    <p>{% trans %}label.add_pictures{% endtrans %}</p>
                    <div class="dropzone upload-drop-zone" id="my-dropzone-container">
                    </div>
                </div>
                <div class="tab-pane fade in" id="address">
                    {% if app.session.flashBag.has('addressSuccess') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('addressSuccess') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if app.session.flashBag.has('addressError') %}
                        <div class="alert alert-danger">
                            {% for msg in app.session.flashBag.get('addressError') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{% trans %}label.address{% endtrans %}</h4>
                        </div>
                        <div class="panel-body">
                            {% set hidden = '' %}
                            {% if addressListChoice is defined %}
                                {{ form_start(addressListChoice) }}
                                    {{ form_widget(addressListChoice.address) }}
                                {{ form_end(addressListChoice) }}
                                {% set hidden = 'hidden' %}
                            {% endif %}
                            <div id="addressDiv" {{ hidden }}>
                                {{ form_start(addressForm) }}
                                    {% include('host/address/form.html.twig') %}
                                    <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                                {{ form_end(addressForm) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="informations">
                    {% if app.session.flashBag.has('informationsSuccess') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('informationsSuccess') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if app.session.flashBag.has('informationsError') %}
                        <div class="alert alert-danger">
                            {% for msg in app.session.flashBag.get('informationsError') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post" name="characteristicValueForm" >
                        {% include('host/characteristic/valueForm.html.twig') %}
                        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script type="application/javascript">
        //to change when the person when to add a new address
        $('#form_address').on('change', function() {
            if($(this).val() == '') {
                $('#addressDiv').show();
            } else {
                $('#addressDiv').hide();
            }
        });

        var nav = '{{ nav }}';
        var medias= {{ medias|raw }};

        //variable used in the dropzone-custom.js file, to init the dropzone.
        var upload = '{{ property_directory }}';
        var size = 10-(medias.length);
        var uploadDirectory = '{{ path('property_upload_picture', {'id': app.request.get('id')}) }}';
        var directDefaultMessage = '{{ 'label.drop_files_here' | trans({}) }}';
        var toastMessageImgPresentation = '{{ 'success.image_presentation' | trans({}) }}';
        var toastMessageImgDeleting = '{{ 'success.delete_image' | trans({}) }}';
        var toastMessageImgNoPresentation = '{{ 'success.image_no_presentation' | trans({}) }}';


        //variable used in the custom.js, in different javascript function user by the dropzone.
        scope = "PROPERTY";
        deletePath = "{{ path('property_delete_picture', {'id': 'id'}) }}";
        urlMediaPresentation = "{{ path('api_patch_media_presentation_by_scope', {'id': 'id'}) }}";
        Dropzone.autoDiscover = false;
        confirmationDelete = '{{ 'confirmation.delete' | trans({}, "messages") }}';

        //initiate the fancybox = slider
        FancyBox.initFancybox();

        //variable for the address form
        jQuery(document).ready(function() {
            //initiate the google map new address
            adressId = 'address_formattedAddress';
            componentFormId = {
                street_number: 'address_streetAddress',
                route: 'address_route',
                locality: 'address_locality',
                country: 'address_country',
                postal_code: 'address_postalCode'
            };


        });
    </script>
    {% javascripts 'bundles/app/js/address.js' 'bundles/app/js/nav.js' 'bundles/app/js/dropzone-custom.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBXbn5jGttQkXWIfV91bBmsMg-HS_o_f7o&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}
