{% extends 'host/base.html.twig' %}
{% block table %}
    <div class="row">
        <div>
            <a href="{{ path('property_new') }}">
                <button class="btn btn-primary btn-circle btn-xl">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </div>
        <br>
        <div>
            {% set length = properties|length %}
            {% set i = 0 %}
            {% for j in 0..(length/3)|round(0, 'ceil') %}
                <div class="row container-realestate">
                    {% for property in i..(i+2) if (i < length) %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="property-container">
                                <div class="property-image">
                                    <img src="{{ property_directory ~ properties[i].mediaPresentation }}" alt="{{ properties[i].name }}">
                                    <div class="property-features-grey text-center">
                                        <span class="glyphicon glyphicon-tag property-features-span-margin">
                                            {{ properties[i].propertyCategory.name}}
                                        </span>
                                        {% if properties[i].propertyStatistic.nbRental > 0 %}
                                            <span class="glyphicon glyphicon-home property-features-span-margin">
                                                {{ 'label.rental_number' | transchoice(properties[i].propertyStatistic.nbRental, {"%number%":properties[i].propertyStatistic.nbRental}) }}
                                            </span>
                                            <span class="glyphicon glyphicon-euro property-features-span-margin">
                                                {{ properties[i].propertyStatistic.minPrice ~ "-" ~ properties[i].propertyStatistic.maxPrice }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="property-content">
                                    <h3><a href="{{ path('property_edit', {'id': properties[i].id }) }}">{{ properties[i].name }}</a> <small>{{ properties[i].description }}</small></h3>
                                </div>
                            </div>
                        </div>
                        {% set i = i+1 %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}