<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav nav-stacked">
            <li>
                <a data-toggle="collapse" data-target="#technical">
                    Technique
                </a>
            </li>
            <li>
                <ul id="technical" class="collapse">
                    <li class="{% if app.request.attributes.get('_route') == 'language' %}active{% endif %}"><a class="active" href="{{ path('language') }}">Langues</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'formats' %}active{% endif %}"><a class="active" href="{{ path('format') }}">Formats</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#charac">
                    Charactéristiques
                </a>
            </li>
            <li>
                <ul id="charac" class="collapse">
                    <li class=""><a href="{{ path('characteristic', {'scopeName' : 'domain'}) }}">Domaine</a></li>
                    <li class=""><a href="{{ path('characteristic', {'scopeName' : 'property'}) }}">Propriété</a></li>
                    <li class=""><a href="{{ path('characteristic', {'scopeName' : 'rental'}) }}">Location</a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#user">
                    Utilisateur
                </a>
            </li>
            <li>
                <ul id="user" class="collapse">
                    <li class=""><a href="{{ path('characteristic', {'scopeName' : 'domain'}) }}">Admin</a></li>
                    <li class=""><a href="{{ path('characteristic', {'scopeName' : 'property'}) }}">Propriétaires</a></li>
                </ul>
            </li>
            <li><a href="#">Promotion</a></li>
            <li>
                <a data-toggle="collapse" data-target="#blog">
                    Blog
                </a>
            </li>
            <li>
                <ul id="blog" class="collapse">
                    <li class=""><a href="{{ path('articleCategory') }}">Catégories</a></li>
                    <li class=""><a href="{{ path('article') }}">Articles</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>