<ul class="nav nav-pills nav-stacked" style="margin-top: 30px;">
    {% if app.request.attributes.get('_route') == 'languages' or app.request.attributes.get('_route') == 'formats' or app.request.attributes.get('_route') == 'countries' %}
        {% set classATechnical = '' %}
        {% set classLiTechical = 'active' %}
        {% set classDivTechical = 'in' %}
    {% else %}
        {% set classATechnical = 'collapsed' %}
        {% set classLiTechical = '' %}
        {% set classDivTechical = '' %}
    {% endif %}
    <li class="{{ classLiTechical }}">
        <a href="#" data-toggle="collapse" data-target="#techical" data-parent="#sidenav01" class="{{ classATechnical }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-floppy-disk"></span>Technique<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivTechical }}" id="techical">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class="{% if app.request.attributes.get('_route') == 'languages' %}submenu-admin-active{% endif %}"><a class="active" href="{{ path('languages') }}">Langues</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'formats' %}submenu-admin-active{% endif %}"><a class="active" href="{{ path('formats') }}">Formats</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'countries' %}submenu-admin-active{% endif %}"><a class="active" href="{{ path('countries') }}">Pays</a></li>
            </ul>
        </div>
    </li>
    {% if (app.request.attributes.get('_route') == 'characteristics_categories')  %}
        {% set classACharac = '' %}
        {% set classLiCharac = 'active' %}
        {% set classDivCharac = 'in' %}
    {% else %}
        {% set classACharac = 'collapsed' %}
        {% set classLiCharac = '' %}
        {% set classDivCharac = '' %}
    {% endif %}
    <li class="{{ classLiCharac }}">
        <a href="#" data-toggle="collapse" data-target="#charac" data-parent="#sidenav01" class="{{ classACharac }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-cloud"></span>Charactéristiques<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivCharac }}" id="charac">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class="{% if app.request.attributes.get('_route') == 'characteristics_categories' and app.request.get('scopeName') == 'domain'%}submenu-admin-active{% endif %}"><a href="{{ path('characteristics_categories', {'scopeName' : 'domain'}) }}">Domaine</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'characteristics_categories' and app.request.get('scopeName') == 'property' %}submenu-admin-active{% endif %}"><a href="{{ path('characteristics_categories', {'scopeName' : 'property'}) }}">Propriété</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'characteristics_categories' and app.request.get('scopeName') == 'rental' %}submenu-admin-active{% endif %}"><a href="{{ path('characteristics_categories', {'scopeName' : 'rental'}) }}">Location</a></li>
            </ul>
        </div>
    </li>
    {% if (app.request.attributes.get('_route') == 'users_admin')  %}
        {% set classAUsers = '' %}
        {% set classLiUsers = 'active' %}
        {% set classDivUsers = 'in' %}
    {% else %}
        {% set classAUsers = 'collapsed' %}
        {% set classLiUsers = '' %}
        {% set classDivUsers = '' %}
    {% endif %}
    <li class="{{ classLiUsers }}">
        <a href="#" data-toggle="collapse" data-target="#users" data-parent="#sidenav01" class="{{ classAUsers }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-user"></span>Utilisateurs<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivUsers }}" id="users">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class="{% if app.request.attributes.get('_route') == 'users_admin' %}submenu-admin-active{% endif %}"><a href="{{ path('users_admin') }}">Admin</a></li>
                <li class=""><a href="#">Propriétaires</a></li>
            </ul>
        </div>
    </li>
    {% if (app.request.attributes.get('_route') == 'tags' or app.request.attributes.get('_route') == 'wine_regions' or app.request.attributes.get('_route') == 'subscriptions' or app.request.attributes.get('_route') == 'promotions' or app.request.attributes.get('_route') == 'web_pages')%}
        {% set classAGestion = '' %}
        {% set classLiGestion = 'active' %}
        {% set classDivGestion = 'in' %}
    {% else %}
        {% set classAGestion = 'collapsed' %}
        {% set classLiGestion = '' %}
        {% set classDivGestion = '' %}
    {% endif %}
    <li class="{{ classLiGestion }}">
        <a href="#" data-toggle="collapse" data-target="#gestion" data-parent="#sidenav01" class="{{ classAGestion }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-pencil"></span>Gestion site<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivGestion }}" id="gestion">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class="{% if app.request.attributes.get('_route') == 'tags' %}submenu-admin-active{% endif %}"><a href="{{ path('tags') }}">Tags</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'wine_regions' %}submenu-admin-active{% endif %}"><a href="{{ path('wine_regions') }}">Régions viticoles</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'subscriptions' %}submenu-admin-active{% endif %}"><a href="{{ path('subscriptions') }}">Abonnements</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'promotions' %}submenu-admin-active{% endif %}"><a href="{{ path('promotions') }}">Promotions</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'web_pages' %}submenu-admin-active{% endif %}"><a href="{{ path('web_pages') }}">Web pages</a></li>
            </ul>
        </div>
    </li>
    {% if (app.request.attributes.get('_route') == 'articleCategory')%}
        {% set classABlog = '' %}
        {% set classLiBlog = 'active' %}
        {% set classDivBlog = 'in' %}
    {% elseif (app.request.attributes.get('_route') == 'admin_articles')%}
        {% set classABlog = '' %}
        {% set classLiBlog = 'active' %}
        {% set classDivBlog = 'in' %}
    {% elseif (app.request.attributes.get('_route') == 'articleTr_new_form')%}
        {% set classABlog = '' %}
        {% set classLiBlog = 'active' %}
        {% set classDivBlog = 'in' %}
    {% else %}
        {% set classABlog = 'collapsed' %}
        {% set classLiBlog = '' %}
        {% set classDivBlog = '' %}
    {% endif %}
    <li class="{{ classLiBlog }}">
        <a href="#" data-toggle="collapse" data-target="#blog" data-parent="#sidenav01" class="{{ classABlog }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-lock"></span>Blog<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivBlog }}" id="blog">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class="{% if app.request.attributes.get('_route') == 'articleCategory' %}submenu-admin-active{% endif %}"><a href="{{ path('articleCategory') }}">Catégories</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'admin_articles' or app.request.attributes.get('_route') == 'articleTr_new_form' %}submenu-admin-active{% endif %}"><a href="{{ path('admin_articles') }}">Articles</a></li>
            </ul>
        </div>
    </li>
</ul>