<ul class="nav nav-pills nav-stacked" style="margin-top: 30px;">
    {% if app.request.attributes.get('_route') == 'languages' %}
        {% set classATechnical = '' %}
        {% set classLiTechical = 'active' %}
        {% set classDivTechical = 'in' %}
    {% elseif app.request.attributes.get('_route') == 'formats' %}
        {% set classATechnical = '' %}
        {% set classLiTechical = 'active' %}
        {% set classDivTechical = 'in' %}
    {% else %}
        {% set classATechnical = 'collapsed' %}
        {% set classLiTechical = '' %}
        {% set classDivTechical = '' %}
    {% endif %}
    <li class="{{ classLiTechical }}">
        <a href="#" data-toggle="collapse" data-target="#techical" data-parent="#sidenav01" class="{{ classATechnical }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-floppy-disk"></span>Technique<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivTechical }}" id="techical">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class="{% if app.request.attributes.get('_route') == 'languages' %}active{% endif %}"><a class="active" href="{{ path('languages') }}">Langues</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'formats' %}active{% endif %}"><a class="active" href="{{ path('format') }}">Formats</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'countries' %}active{% endif %}"><a class="active" href="{{ path('countries') }}">Pays</a></li>
            </ul>
        </div>
    </li>
    {% if (app.request.attributes.get('_route') == 'characteristics_categories')  %}
        {% set classACharac = '' %}
        {% set classLiCharac = 'active' %}
        {% set classDivCharac = 'in' %}
    {% else %}
        {% set classACharac = 'collapsed' %}
        {% set classLiCharac = '' %}
        {% set classDivCharac = '' %}
    {% endif %}
    <li class="{{ classLiCharac }}">
        <a href="#" data-toggle="collapse" data-target="#charac" data-parent="#sidenav01" class="{{ classACharac }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-cloud"></span>Charactéristiques<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivCharac }}" id="charac">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class=""><a href="{{ path('characteristics_categories', {'scopeName' : 'domain'}) }}">Domaine</a></li>
                <li class=""><a href="{{ path('characteristics_categories', {'scopeName' : 'property'}) }}">Propriété</a></li>
                <li class=""><a href="{{ path('characteristics_categories', {'scopeName' : 'rental'}) }}">Location</a></li>
            </ul>
        </div>
    </li>
    {% if (app.request.attributes.get('_route') == 'users_admin')  %}
        {% set classAUsers = '' %}
        {% set classLiUsers = 'active' %}
        {% set classDivUsers = 'in' %}
    {% else %}
        {% set classAUsers = 'collapsed' %}
        {% set classLiUsers = '' %}
        {% set classDivUsers = '' %}
    {% endif %}
    <li class="{{ classLiUsers }}">
        <a href="#" data-toggle="collapse" data-target="#users" data-parent="#sidenav01" class="{{ classAUsers }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-user"></span>Utilisateurs<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivUsers }}" id="users">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class=""><a href="{{ path('users_admin') }}">Admin</a></li>
                <li class=""><a href="{{ path('characteristics_categories', {'scopeName' : 'property'}) }}">Propriétaires</a></li>
            </ul>
        </div>
    </li>
    {% if (app.request.attributes.get('_route') == 'tags')  %}
        {% set classATags = '' %}
        {% set classLiTags = 'active' %}
        {% set classDivTags = 'in' %}
    {% else %}
        {% set classATags = '' %}
        {% set classLiTags = '' %}
        {% set classDivTags = '' %}
    {% endif %}
    <li class="{{ classLiTags }}">
        <a href="{{ path('tags') }}" class="{{ classAUsers }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-envelope"></span>Tags<span></span>
        </a>
    </li>
    {% if (app.request.attributes.get('_route') == 'wine_regions')  %}
        {% set classAWineRegions = '' %}
        {% set classLiWineRegions = 'active' %}
        {% set classDivWineRegions = 'in' %}
    {% else %}
        {% set classAWineRegions = '' %}
        {% set classLiWineRegions = '' %}
        {% set classDivWineRegions = '' %}
    {% endif %}
    <li class="{{ classLiWineRegions }}">
        <a href="{{ path('wine_regions') }}"><span style="margin-right: 10px;" class="glyphicon glyphicon-euro"></span>Régions viticoles</a>
    </li>
    {% if (app.request.attributes.get('_route') == 'subscriptions') %}
        {% set classLiSubscriptions = 'active' %}
    {% else %}
        {% set classLiSubscriptions = '' %}
    {% endif %}
    <li class="{{ classLiSubscriptions }}">
        <a href="{{ path('subscriptions') }}"><span style="margin-right: 10px;" class="glyphicon glyphicon-euro"></span>Abonnements</a>
    {% if (app.request.attributes.get('_route') == 'promotions') %}
        {% set classLiPromo = 'active' %}
    {% else %}
        {% set classLiPromo = '' %}
    {% endif %}
    <li class="{{ classLiPromo }}">
        <a href="{{ path('promotions') }}"><span style="margin-right: 10px;" class="glyphicon glyphicon-euro"></span>Promotions</a>
    </li>
    {% if (app.request.attributes.get('_route') == 'web_pages') %}
        {% set classLiWebPage = 'active' %}
    {% else %}
        {% set classLiWebPage = '' %}
    {% endif %}
    <li class="{{ classLiWebPage }}">
        <a href="{{ path('web_pages') }}"><span style="margin-right: 10px;" class="glyphicon glyphicon-home"></span>Web page</a>
    </li>
    {% if (app.request.attributes.get('_route') == 'articleCategory') or (app.request.attributes.get('_route') == 'article') %}
        {% set classABlog = '' %}
        {% set classLiBlog = 'active' %}
        {% set classDivBlog = 'in' %}
    {% else %}
        {% set classABlog = 'collapsed' %}
        {% set classLiBlog = '' %}
        {% set classDivBlog = '' %}
    {% endif %}
    <li class="{{ classLiBlog }}">
        <a href="#" data-toggle="collapse" data-target="#blog" data-parent="#sidenav01" class="{{ classABlog }}">
            <span style="margin-right: 10px;" class="glyphicon glyphicon-lock"></span>Blog<span class="caret pull-right"></span>
        </a>
        <div class="collapse {{ classDivBlog }}" id="blog">
            <ul class="nav nav-list admin-navbar-text-align">
                <li class=""><a href="{{ path('articleCategory') }}">Catégories</a></li>
                <li class=""><a href="{{ path('articles') }}">Articles</a></li>
            </ul>
        </div>
    </li>
</ul>