{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#" data-toggle="collapse" data-target="#technical" data-parent="#sidenav01" class="collapsed">
                        <span class="glyphicon glyphicon-cloud"></span> Technique <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="technical" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li class="{% if app.request.attributes.get('_route') == 'language' %}active{% endif %}"><a class="active" href="{{ path('language') }}">Langues</a></li>
                            <li class="{% if app.request.attributes.get('_route') == 'formats' %}active{% endif %}"><a class="active" href="{{ path('format') }}">Formats</a></li>
                        </ul>
                    </div>
                </li>
                <li class="active">
                    <a href="#" data-toggle="collapse" data-target="#charac" data-parent="#sidenav01" class="collapsed">
                        <span class="glyphicon glyphicon-inbox"></span> Charactéristiques <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="charac" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li class=""><a href="{{ path('characteristic', {'scopeName' : 'domain'}) }}">Domaine</a></li>
                            <li class=""><a href="{{ path('characteristic', {'scopeName' : 'property'}) }}">Propriété</a></li>
                            <li class=""><a href="{{ path('characteristic', {'scopeName' : 'rental'}) }}">Location</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#user" data-parent="#sidenav01" class="collapsed">
                        <span class="glyphicon glyphicon-cloud"></span> Utilisateur <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="user" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li class=""><a href="{{ path('characteristic', {'scopeName' : 'domain'}) }}">Admin</a></li>
                            <li class=""><a href="{{ path('characteristic', {'scopeName' : 'property'}) }}">Propriétaires</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Promotion</a></li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#blog" data-parent="#sidenav01" class="collapsed">
                        <span class="glyphicon glyphicon-cloud"></span> Blog <span class="caret pull-right"></span>
                    </a>
                    <div class="collapse" id="user" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li class=""><a href="{{ path('articleCategory') }}">Catégories</a></li>
                            <li class=""><a href="{{ path('article') }}">Articles</a></li>
                        </ul>
                    </div>
                </li>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}
