<div class="modal fade" tabindex="-1" role="dialog" id="wineRegion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(form,  { 'attr': {'required': 'true', 'id' : 'wineRegion'} }) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ajouter/modifier une région viticole</h4>
            </div>
            <div class="modal-body">
                <fieldset class="form-group" id="id" style="display: none">
                    {{ form_widget(form.id,  { 'attr': {'required': 'false'} }) }}
                </fieldset>
                <fieldset class="form-group">
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country, { 'attr': {'class': 'form-control'}}) }}
                </fieldset>
                {% for wineRegionTr in form.wineRegionTrs %}
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_widget(wineRegionTr.language, {'attr' : {'disabled': 'false'} }) }}
                            </div>
                            <div class="col-md-10">
                                <label>Name</label>
                                {{ form_widget(wineRegionTr.name,  { 'attr': {'class': 'form-control', 'style': 'width: 100%;'} }) }}
                                <label>Description</label>
                                {{ form_widget(wineRegionTr.description,  { 'attr': {'class': 'form-control', 'style': 'width: 100%;'} }) }}
                                {{ form_widget(wineRegionTr.id, {'attr': {'style': 'display: none'}}) }}
                            </div>
                        </div>
                    </fieldset>
                {% endfor %}
                {{ form_row(form.picture) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary pull-right">Valider</button>
            </div>
            {{ form_end(form) }}
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>