{% extends 'host/base.html.twig' %}
{% block table %}
    {% set redirectRoute = url('rental_edit', {'id' : app.request.get('id')}) %}
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" id="nav">
                <li class="active"><a href="#presentation" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> {% trans %}label.presentation{% endtrans %}</a></li>
                <li><a href="#informations" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> {% trans %}label.informations{% endtrans %}</a></li>
                <li><a href="#prices" data-toggle="tab"><i class="glyphicon glyphicon-picture"></i> {% trans %}label.prices{% endtrans %}</a></li>
                <li><a href="#medias" data-toggle="tab"><i class="glyphicon glyphicon-zoom-in"></i> {% trans %}label.pictures{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="presentation">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{% trans %}label.presentation{% endtrans %}</h4>
                        </div>
                        <div class="panel-body">
                            <form name="rental" method="post" action="{{ path('rental_submit') }}">
                                <input hidden value="{{ redirectRoute ~'#presentation' }}" name="rental[redirectRoute]">
                                <div class="form-group">
                                    {{ form_widget(rentalForm.id,  { 'attr': {'required': 'false'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="postal_code">*{% trans %}label.property{% endtrans %} </label>
                                    {{ form_widget(rentalForm.property,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="address">*{% trans %}label.name{% endtrans %} </label>
                                    {{ form_widget(rentalForm.name,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="postal_code">*{% trans %}label.description{% endtrans %} </label>
                                    {{ form_widget(rentalForm.description,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="prices">
                    <h4>{% trans %}label.prices{% endtrans %}</h4>
                </div>
                <div class="tab-pane fade in" id="medias">
                    <h4>{% trans %}label.pictures{% endtrans %}</h4>
                    {% set imagePerSlide = 3 %}
                    {% set totalRow =  ((medias|length)/imagePerSlide)|round(0, 'ceil') %}
                    {% if totalRow > 0 %}
                        <div id="Carousel" class="carousel slide">
                            <ol class="carousel-indicators">
                                {% for i in 0..totalRow -1 %}
                                    {% set class ="" %}
                                    {% if loop.first %}
                                        {% set class ="active" %}
                                    {% endif %}
                                    <li data-target="#Carousel" data-slide-to="{{ i }}" class="{{ class }}"></li>
                                {% endfor %}
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% set j = 0 %}
                                {% for i in 0..totalRow - 1 %}
                                    {% set class = "item"%}
                                    {% if loop.first %}
                                        {% set class ="item active" %}
                                    {% endif %}
                                    <div class="{{ class }}">
                                        <div class="row">
                                            {% for f in 0..imagePerSlide - 1 if j <= medias|length - 1%}
                                                <div class="col-md-4">
                                                    <a href="{{ mediaPath ~ medias[j].name }}" rel="gallery2" class="fancybox img-hover-v1">
                                                        <img src="{{ mediaPath ~ medias[j].name }}" style="max-width:100%;">
                                                    </a>
                                                </div>
                                                {% set j = j + 1 %}
                                            {% endfor %}
                                        </div><!--.row-->
                                    </div><!--.item-->
                                {% endfor %}
                            </div><!--.carousel-inner-->
                            {% if totalRow > 1 %}
                                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                            {% endif %}
                        </div><!--.Carousel-->
                    {% endif %}
                    <br>
                    <p>Ajouter des photos :</p>
                    <form name="media" method="post" action="{{ path('rental_pictures_submit') }}" enctype="multipart/form-data">
                        <input hidden name="media[rental]" value="{{ app.request.get('id') }}">
                        <input hidden name="media[redirectRoute]" value="{{ redirectRoute ~'#medias' }}">
                        <div class="form-group">
                            <input type="file" name="media[medias][]" multiple class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    </form>
                </div>
                <div class="tab-pane fade in" id="informations">
                    <form method="post" name="characteristicValueForm" action="{{ path('characteristic_rental_value_submit') }}">
                        <input name="characteristicValueForm[rental]" value="{{ app.request.get('id') }}" hidden>
                        <input name="characteristicValueForm[redirectRoute]" value="{{ redirectRoute ~ '#informations' }}" hidden>
                        {% include('host/characteristic/valueForm.html.twig') %}
                        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
{% endblock %}
