{% extends 'host/base.html.twig' %}
{% block table %}
    {% set redirectRoute = url('rental_edit', {'id' : app.request.get('id')}) %}
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" id="nav">
                <li class="active"><a href="#presentation" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> {% trans %}label.presentation{% endtrans %}</a></li>
                <li><a href="#informations" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> {% trans %}label.informations{% endtrans %}</a></li>
                <li><a href="#medias" data-toggle="tab"><i class="glyphicon glyphicon-zoom-in"></i> {% trans %}label.pictures{% endtrans %}</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="presentation">
                    {{ form_start(rentalForm) }}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>{% trans %}label.presentation{% endtrans %}</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>*{% trans %}label.property{% endtrans %} </label>
                                    {{ form_errors(rentalForm.property) }}
                                    {{ form_widget(rentalForm.property,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label>*{% trans %}label.name{% endtrans %} </label>
                                    {{ form_errors(rentalForm.name) }}
                                    {{ form_widget(rentalForm.name,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label >*{% trans %}label.description{% endtrans %} </label>
                                    {{ form_errors(rentalForm.description) }}
                                    {{ form_widget(rentalForm.description,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>{% trans %}label.price{% endtrans %}</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>{% trans %}label.minimum_rental_period{% endtrans %} </label>
                                    {{ form_errors(rentalForm.minimumRentalPeriod) }}
                                    {{ form_widget(rentalForm.minimumRentalPeriod,  { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>*{% trans %}label.price{% endtrans %} </label>
                                            {{ form_errors(rentalForm.price) }}
                                            {{ form_widget(rentalForm.price,  { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>*{% trans %}label.people_number{% endtrans %} </label>
                                            {{ form_errors(rentalForm.peopleNumber) }}
                                            {{ form_widget(rentalForm.peopleNumber,  { 'attr': {'class': 'form-control', 'step' : 1} }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    {{ form_end(rentalForm) }}
                </div>
                <div class="tab-pane fade in" id="medias">
                    <h4>{% trans %}label.pictures{% endtrans %}</h4>
                    {% set imagePerSlide = 3 %}
                    {% set totalRow =  ((medias|length)/imagePerSlide)|round(0, 'ceil') %}
                    {% if totalRow > 0 %}
                        <div id="Carousel" class="carousel slide">
                            <ol class="carousel-indicators">
                                {% for i in 0..totalRow -1 %}
                                    {% set class ="" %}
                                    {% if loop.first %}
                                        {% set class ="active" %}
                                    {% endif %}
                                    <li data-target="#Carousel" data-slide-to="{{ i }}" class="{{ class }}"></li>
                                {% endfor %}
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% set j = 0 %}
                                {% for i in 0..totalRow - 1 %}
                                    {% set class = "item"%}
                                    {% if loop.first %}
                                        {% set class ="item active" %}
                                    {% endif %}
                                    <div class="{{ class }}">
                                        <div class="row">
                                            {% for f in 0..imagePerSlide - 1 if j <= medias|length - 1%}
                                                <div class="col-md-4">
                                                    <a href="{{ mediaPath ~ medias[j].name }}" rel="gallery2" class="fancybox img-hover-v1">
                                                        <img src="{{ mediaPath ~ medias[j].name }}" style="max-width:100%;">
                                                    </a>
                                                </div>
                                                {% set j = j + 1 %}
                                            {% endfor %}
                                        </div><!--.row-->
                                    </div><!--.item-->
                                {% endfor %}
                            </div><!--.carousel-inner-->
                            {% if totalRow > 1 %}
                                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                            {% endif %}
                        </div><!--.Carousel-->
                    {% endif %}
                    <br>
                    <p>Ajouter des photos :</p>
                    <form name="media" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="media[medias][]" multiple class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    </form>
                </div>
                <div class="tab-pane fade in" id="informations">
                    <form method="post" name="characteristicValueForm">
                        {% include('host/characteristic/valueForm.html.twig') %}
                        <button type="submit" class="btn btn-primary pull-right">{% trans %}label.submit{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#rental_price").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190, 188]) !== -1 ||
                        // Allow: Ctrl+A, Command+A
                        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                        // Allow: home, end, left, right, down, up
                        (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
