{% extends 'host/base.html.twig' %}
{% block table %}
    <div class="row">
        <div>
            <a href="{{ path('rental_new') }}">
                <button class="btn btn-primary btn-circle btn-xl">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </div>
        <br>
        <div>
            {% set length = rentals|length %}
            {% set i = 0 %}
            {% for j in 0..(length/3)|round(0, 'ceil') %}
                <div class="row container-realestate">
                    {% for property in i..(i+2) if (i < length) %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="property-container">
                                <div class="property-image">
                                    <img src="{{ rental_directory ~ rentals[i].mediaPresentation }}" alt="{{ rentals[i].name }}">
                                    <div class="property-features-grey text-center">
                                        <span class="glyphicon glyphicon-user property-features-span-margin">
                                            {{ 'label.people_number_plurial' | transchoice(rentals[i].peopleNumber, {"%number%":rentals[i].peopleNumber}) }}
                                        </span>
                                        <span class="glyphicon glyphicon-euro property-features-span-margin">
                                            {{ rentals[i].price ~ '/'~'label.night' | trans({})}}
                                        </span>
                                    </div>
                                </div>
                                <div class="property-content">
                                    <h3><a href="{{ path('rental_edit', {'id': rentals[i].id }) }}">{{ rentals[i].name }}</a> <small>{{ rentals[i].description }}</small></h3>
                                </div>
                            </div>
                        </div>
                        {% set i = i+1 %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
