{% extends 'host/base.html.twig' %}
{% block table %}
    {% set id = app.request.get('id') %}
    <div class="container">
        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a id="anchor-step-1" href="#step-1" type="button" class="btn btn-primary btn-circle" disabled="disabled">1</a>
                    <p>{{ 'label.rental'|transchoice(2)|capitalize }}</p>
                </div>
                <div class="stepwizard-step">
                    <a id="anchor-step-2" href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>{% trans %}label.informations{% endtrans %}</p>
                </div>
                <div class="stepwizard-step">
                    <a id="anchor-step-3" href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>{% trans %}label.pictures{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-1">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3>{{ 'label.rental'|transchoice(1)|capitalize }}</h3>
                    {% if rentalForm is defined %}
                        {{ form_start(rentalForm) }}
                            <div class="form-group">
                                <label for="address">{% trans %}label.name{% endtrans %} </label>
                                {{ form_widget(rentalForm.name,  { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <p style="font-style: italic">{% trans %}label.property_name_exemple{% endtrans %}</p>
                            <div class="form-group">
                                <label for="address">{% trans %}label.property{% endtrans %} </label>
                                {{ form_widget(rentalForm.property,  { 'attr': {'class': 'form-control', 'id' :'property'} }) }}
                            </div>
                            <div class="form-group">
                                <label>{% trans %}label.price{% endtrans %} </label>
                                {{ form_widget(rentalForm.price,  { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                <label>{% trans %}label.peopleNumber{% endtrans %} </label>
                                {{ form_widget(rentalForm.peopleNumber,  { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                <label>{% trans %}label.minimumRentalPeriod{% endtrans %} </label>
                                {{ form_widget(rentalForm.minimumRentalPeriod,  { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(rentalForm.description,  { 'attr': {'style': ''} }) }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg pull-right" type="button" >{% trans %}label.next{% endtrans %}</button>
                        {{ form_end(rentalForm) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3>{% trans %}label.informations{% endtrans %}</h3>
                    {% if characteristicCategories is defined %}
                        <form name="characteristicValue" method="post">
                            {% include('host/characteristic/valueForm.html.twig') %}
                            <button class="btn btn-primary btn-lg pull-right" type="submit" >{% trans %}label.submit{% endtrans %}</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3>{% trans %}label.pictures{% endtrans %}</h3>
                    {% if id|length > 0 %}
                        <form name="media" method="post" enctype="multipart/form-data">
                            <input name="media[medias][]" type="file" multiple="true" class="form-control">
                            <input type="submit" class="btn btn-success btn-lg pull-right" value="{% trans %}label.submit{% endtrans %}" >
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            url = document.location.toString();
            id = {{  id }};
            step = url.split('#')[1];
            if((step == 'strep-2' || step == 'step-3' || step == 'step-4') && id == '' ) {
                step = 'step-1';
            }
            document.getElementById("anchor-" + step).removeAttribute("disabled");
            $("#anchor-" + step)[0].click();
        });
    </script>
{% endblock %}
