{% extends 'admin/base.html.twig' %}
{% block table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <button type="button" class="btn btn-default" onclick="loadForm('{{ url('country_new_form')}}', 'country')">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button> Pays
            </th>
            <th>Code</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>{{ country.code }}</td>
                <td>
                    <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('country_new_form', {'id' : country.id}) }}', 'country')"/>
                    <input type="button" class="btn btn-primary" value="Supprimer" onclick="setPathDeleteButton('{{ path('country_delete', {'id' : country.id}) }}')"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block modal %}
    <span id="modalDelete">
        <div class="modal fade" tabindex="-1" role="dialog" id="confirmation">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Suppression</h4>
                    </div>
                    <div class="modal-body">
                        <p>Etes-vous sur de vouloir supprimer cet élément ?</p>
                    </div><!-- /.modal-content -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a id="delete" type="submit" class="btn btn-primary pull-right">Valider</a>
                    </div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </span>
    <span id="modalCreate">
    </span>
{% endblock %}

{% block script %}
    <script>
        function setPathDeleteButton(path) {
            $("#delete").attr("href", path);
            $('#confirmation').modal();
        }
        function loadForm(path, modalId) {
            $.ajax({
                url:  path,
                type: 'GET',
                async: false,
                success: function (data, textStatus, jqXHR) {
                    $('#modalCreate').html(data);
                    $('#'+modalId).modal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("no good");
                }
            });
        }
    </script>
{% endblock %}
