{% extends 'admin/base.html.twig' %}
{% block table %}
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>
                <a href="{{ path('box_new') }}">
                    <button type="button" class="btn btn-default btn-circle btn-plus-admin">
                        <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                    </button>Box
                </a>
            </th>
            <th>Price</th>
            <th>Picture</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td data-toggle="collapse" data-target="#box-{{ box.id }}" class="accordion-toggle" style="cursor:pointer">
                    {% for boxTr in box.boxTrs %}
                        <object style="float: left;" type="image/svg+xml" data="{{ language_directory ~ boxTr.language.picture }}" height="20px">
                        </object>
                        <span style="margin-left: 10px">{{ boxTr.name }}</span>
                        <br><br>
                    {% endfor %}
                </td>
                <td>
                    {{ box.price }}
                </td>
                <td style="width: 25%">
                    <img class="img-responsive" src="{{ box_directory ~ box.mediaPresentation }}">
                </td>
                <td>
                    <a href="{{ path('box_edit', {'id' : box.id}) }}">
                        <input type="button"  class="btn btn-primary" value="Editer"/>
                    </a>
                    <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('box_delete', {'id' : box.id}) }}')"/>
                </td>
            </tr>
            <tr id="box-{{ box.id }}" class="collapse">
                <td colspan="3">
                    <table class="table table-condensed table-responsive">
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <button type="button" class="btn btn-default" onclick="loadForm('{{ path('box_item_form', {'boxId': box.id})}}', 'boxItem')">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </td>
                            </tr>
                            {% for boxItem in box.boxItems %}
                                <tr>
                                    <td data-toggle="collapse" data-target="#boxItem-{{ boxItem.id }}" class="accordion-toggle" style="cursor:pointer">
                                        {% for boxItemTr in boxItem.boxItemTrs %}
                                            <object style="float: left;" type="image/svg+xml" data="{{ language_directory }}{{ boxItemTr.language.picture }}" height="20px">
                                            </object>
                                            <span style="margin-left: 10px">{{ boxItemTr.name }}</span>
                                            <br><br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('box_item_form', {'boxId': box.id, 'id' : boxItem.id, }) }}', 'boxItem')"/>
                                        <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('box_item_delete', {'id' : boxItem.id}) }}')"/>
                                    </td>
                                </tr>
                                <tr id="boxItem-{{ boxItem.id }}" class="collapse">
                                    <td colspan="3">
                                        <table class="table table-condensed table-responsive">
                                            <tbody>
                                            {% for boxItemChoice in boxItem.boxItemChoices %}
                                                <tr>
                                                    <td>
                                                        {% for boxItemChoiceTr in boxItemChoice.boxItemChoiceTrs %}
                                                            <object style="float: left;" type="image/svg+xml" data="{{ language_directory }}{{ boxItemChoiceTr.language.picture }}" height="20px">
                                                            </object>
                                                            <span style="margin-left: 10px">{{ boxItemChoiceTr.name }}</span>
                                                            <br><br>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('box_item_choice_form', {'boxItemId': boxItem.id, 'id' :boxItemChoice.id}) }}', 'boxItemChoice')"/>
                                                        <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('box_item_choice_delete', {'id' : boxItemChoice.id })}}')"/>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="4">
                                                    <button type="button" class="btn btn-default" onclick="loadForm('{{ path('box_item_choice_form', {'boxItemId':boxItem.id})}}', 'boxItemChoice')">
                                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
