{% extends 'base.html.twig' %}
{% block body %}
    <!-- Interactive Slider v2 -->
    <div class="cover-img" style="background: url({{ banner_directory ~'red-bottles.jpeg' }})">
        <h1>INVOICE</h1>
    </div>
    <!-- End Interactive Slider v2 -->
    <!--=== Content Part ===-->
    <div class="container content">
        <!--Invoice Header-->
        <div class="row invoice-header">
            <div class="col-xs-6">
                <img src="{{asset('Logosaumon_fond transparent.png')}}" alt="Winefing" width="200px">
            </div>
        </div>
        <!--End Invoice Header-->

        <!--Invoice Detials-->
        <div class="row invoice-info">
            <div class="col-xs-6">
                <div class="tag-box tag-box-v3">
                    <h2>{% trans %}label.client_informations{% endtrans %}</h2>
                    <ul class="list-unstyled">
                        <li><strong>{% trans %}label.first_name{% endtrans %}:</strong>{{ rentalOrder.user.firstName }}</li>
                        <li><strong>{% trans %}label.last_name{% endtrans %}:</strong>{{ rentalOrder.user.lastName }}</li>
                        <li><strong>{% trans %}label.address{% endtrans %}:</strong>
                            <ul class="list-unstyled">
                                <li>
                                    {{ rentalOrder.billingAddress.streetAddress }}
                                </li>
                                <li>
                                    {{ rentalOrder.billingAddress.locality ~ ' ' ~rentalOrder.billingAddress.country }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="tag-box tag-box-v3">
                    <h2>{% trans %}label.company_informations{% endtrans %}</h2>
                    <ul class="list-unstyled">
                        <li><strong>{% trans %}label.company_informations{% endtrans %}:</strong>{{ rentalOrder.legalForm ~ ' ' ~ rentalOrder.companyName }}</li>
                        <li><strong>{% trans %}label.company_siren{% endtrans %}:</strong> {{ rentalOrder.siren }}</li>
                        <li><strong>{% trans %}label.address{% endtrans %}:</strong>
                            <ul class="list-unstyled">
                                <li>
                                    {{ rentalOrder.streetWinefing }}
                                </li>
                                <li>
                                    {{ rentalOrder.postalCodeWinefing ~' ' ~rentalOrder.cityWinefing }}
                                </li>
                            </ul>
                        </li>
                        <li><strong>SWIFT Code:</strong> </li>
                        <li><strong>{% trans %}label.tva_number{% endtrans %}:</strong> {{ rentalOrder.tvaNumber }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Invoice Detials-->

        <!--Invoice Table-->
        <div class="panel panel-default margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'label.bill_detail'|trans()~ '- #'~rentalOrder.id ~ '/' ~ rentalOrder.billDate|date('d-m-Y') }}</h3>
            </div>
            <table class="table table-striped invoice-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th class="hidden-sm">Description</th>
                    <th>Quantity</th>
                    <th>Unit Cost</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Keyboard</td>
                    <td class="hidden-sm">At vero eos et accusamus etofficia mollitia</td>
                    <td>252</td>
                    <td>$52</td>
                    <td>$18476</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Displays</td>
                    <td class="hidden-sm">Verode eoset accusamus etofficia deserunt</td>
                    <td>78</td>
                    <td>$128</td>
                    <td>$12047</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Phones</td>
                    <td class="hidden-sm">Etquas molestias deexcepturi dasint</td>
                    <td>16</td>
                    <td>$450</td>
                    <td>$7968</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Software</td>
                    <td class="hidden-sm">Atofficia droeos etofficia taccusamus</td>
                    <td>191</td>
                    <td>$24</td>
                    <td>$4099</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Speakers</td>
                    <td class="hidden-sm">Dacusamus deserunt veroeoset vero eos</td>
                    <td>65</td>
                    <td>$119</td>
                    <td>$9456</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--End Invoice Table-->

        <!--Invoice Footer-->
        <div class="row">
            <div class="col-xs-6">
                <div class="tag-box tag-box-v3 no-margin-bottom">
                    <img src="{{asset('Logosaumon_fond transparent.png')}}" alt="Winefing" width="200px">
                    <address class="no-margin-bottom">
                        <h2>{% trans %}label.company_informations{% endtrans %}</h2>
                        <ul class="list-unstyled">
                            <li><strong>Bank Name:</strong>{{ rentalOrder.legalForm ~ ' ' ~ rentalOrder.companyName }}</li>
                            <li><strong>Account Number:</strong> {{ rentalOrder.siren }}</li>
                            <li><strong>SWIFT Code:</strong> {{ rentalOrder.streetWinefing }}</li>
                            <li><strong>SWIFT Code:</strong> {{ rentalOrder.postalCodeWinefing ~' ' ~rentalOrder.cityWinefing }}</li>
                            <li><strong>V.A.T Reg #:</strong> {{ rentalOrder.companyName }}</li>
                            <li><strong>Phone number:</strong> {{ rentalOrder.companyName }}</li>
                            <li><strong>Email:</strong> {{ rentalOrder.companyName }}</li>
                        </ul>
                    </address>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <ul class="list-unstyled invoice-total-info">
                    <li><strong>Sub - Total Amount:</strong> $109365</li>
                    <li><strong>Discount:</strong> 14.8%</li>
                    <li><strong>VAT ($6):</strong> $8371</li>
                    <li><strong>Grand Total:</strong> $101486</li>
                </ul>
                <button class="btn-u sm-margin-bottom-10" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</button>
                <button class="btn-u">Submit The Invoice</button>
            </div>
        </div>
        <!--End Invoice Footer-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}