{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% set detail = '' %}
        {#{% for key, val in bill.dates %}#}
            {#{% set date =  key|date('d-m-Y')%}#}
            {#{% set price = val ~ ' $.' %}#}
            {#{% set detail = detail ~ "<label>" ~ date ~ ": "  ~ price ~ "</label> <br>" %}#}
        {#{% endfor %}#}
        <div class="col-md-6">
            {#<div class="row">#}
                {#<div class="col-sm-6">#}
                    {#<label>{{ bill.averagePrice ~'$ *' }} {{ bill.dayNumber }} {% trans %}label.days{% endtrans %}</label>#}
                    {#<a data-html="true" style="border:none" type="button" title="{% trans %}label.price_details{% endtrans %}" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{ detail }}">#}
                        {#<spam class="glyphicon glyphicon-question-sign"></spam>#}
                    {#</a>#}
                    {#<label> : </label>#}
                {#</div>#}
                {#<div class="col-sm-6">#}
                    {#<label>{{ bill.sum ~'$'}}</label>#}
                {#</div>#}
            {#</div>#}
            {#<br>#}
            {#<label>{% trans %}label.service_fees{% endtrans %}</label>#}
            {#<label>{{ bill.comission ~ '$' }}</label>#}
            {#<br>#}
            {#<label>{% trans %}label.total{% endtrans %}</label>#}
            {#<label>{{ bill.total  ~ '$' }}</label>#}
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}
