{#{% extends 'base.html.twig' %}#}
{#{% block body %}#}
<div class="modal fade" tabindex="-1" role="dialog" id="rental">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans %}label.order_for_rental{% endtrans %} : {{ rental.name }}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans %}label.select_date{% endtrans %}:</p>
                <form method="post" name="order" action="{{ path('rental_paiement_date', {'id':rental.id}) }}">
                    <div id="sandbox-container">
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" id="start" name="start" value="{% if startDate %}{{ startDate }}{% endif %}" />
                            <span class="input-group-addon">{% trans %}label.to{% endtrans %}</span>
                            <input type="text" class="input-sm form-control" id="end" name="end" value="{% if endDate %}{{ endDate }}{% endif %}" />
                        </div>
                    </div>
                    <br>
                    <input name="rental" value="{{ app.request.get('id') }}" hidden>
                    <div id="error">
                        <div class="alert alert-danger" role="alert">
                            <span>{{ 'error.minimum_rental_period' | transchoice(rental.minimumRentalPeriod, {'%number%': rental.minimumRentalPeriod}) }}</span>
                        </div>
                    </div>
                    <div id="bill" hidden>
                        <div class="service-box-v1">
                            <div class="service-block service-block-default no-margin-bottom">
                                <ul class="list-unstyled">
                                    <li>
                                        <label>
                                            {% trans %}label.price{% endtrans %}/{{ 'label.night' | transchoice(1, {}) ~ ':'}}
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans %}help.average_price{% endtrans %}">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
                                        </span>
                                            </a>
                                        </label>
                                        <span id="averagePrice"></span>
                                    </li>
                                    <li>
                                        <label>
                                            {% trans %}label.days_number{% endtrans %} :
                                        </label>
                                        <span id="daysNumber"></span>
                                    </li>
                                    <li>
                                        <label>
                                            {% trans %}label.total_price{% endtrans %} :
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans %}help.total_price{% endtrans %}">
                                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                            </a>
                                        </label>
                                        <span id="price"></span><span> €.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="text-align: center">
                            <input type="submit" value="{% trans %}label.submit{% endtrans %}" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <script>
        $('[data-toggle="tooltip"]').tooltip();

        var rentalPromotionsArray = {{ rentalPromotions|json_encode|raw }};
        function init(){
            for(var i = 0; i<rentalPromotionsArray.length; ++i){
                rentalPromotionsArray[i].startDate = new Date(rentalPromotionsArray[i].startDate * 1000);
                rentalPromotionsArray[i].endDate = new Date(rentalPromotionsArray[i].endDate * 1000);
            }
        }

        function getDaysNumber(startDate, endDate){
            var timeDiff = Math.abs(endDate.getTime() - startDate.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            return diffDays;
        }
        function getPrice(averagePrice, daysNumber) {
            return Number((averagePrice * daysNumber).toFixed(2));
        }
        /**
         * If the date selected is not empty
         */
        function getStartDate() {
            start = $('#start').val();
            return new Date(start.substr(6, 4), start.substr(3, 2) -1, start.substr(0, 2));
        }
        function getEndDate() {
            end = $('#end').val();
            return new Date(end.substr(6, 4), end.substr(3, 2) -1, end.substr(0, 2));
        }
        function initInput() {
            console.log('in');
            if($('#start, #end').val()) {
                displayPrice();
            }
        }
        function displayPrice() {
            var startDate = getStartDate();
            var endDate = getEndDate();
            var daysNumber = getDaysNumber(startDate, endDate);
            if(daysNumber >= '{{ rental.minimumRentalPeriod }}') {
                //check if the minimum period is well selected
                var averagePrice = 0.0;
                $('#bill').show();
                $('#error').hide();

                $("span[id='daysNumber']").html(daysNumber);
                var count = 0;
                var date = startDate;
                while (date.getTime() < endDate.getTime()) {
                    averagePrice += getPriceByDate(date);
                    date.setDate(date.getDate() + 1);
                    count++;
                }
                averagePrice = Number((averagePrice / count).toFixed(2));
                $("span[id='averagePrice']").html(averagePrice);
                $("span[id='price']").html(getPrice(averagePrice, daysNumber));
            } else {
                $('#bill').hide();
                $('#error').show();
            }
        }

        function getPriceByDate(date) {
            var price = {{ rental.price }};
            for(var i = 0; i<rentalPromotionsArray.length; ++i){
                if((date.getTime() >= rentalPromotionsArray[i].startDate.getTime()) && (date.getTime() <= rentalPromotionsArray[i].endDate.getTime())){
                    price = rentalPromotionsArray[i].price;
                    break;
                }
            }
            return price;
        }
        $(document).ready(function() {
            init();
            initInput();
            console.log('{{ startDate }}');
            console.log('{{ endDate }}');
            $('#sandbox-container .input-daterange').datepicker({
                startDate: ""+getFormattedDate(new Date)+"'",
                format: 'dd-mm-yyyy',
                autoclose: true,
                todayHighlight: true,
                beforeShowDay: function(date) {
                    var objet = {enabled:true, tooltip:getPriceByDate(date)+" €"};
                    return objet;
                }
            })
            .each(function() {
                $(this).datepicker().on('changeDate', function (ev) {
                    var startDate = getStartDate();
                    var endDate = getEndDate();
                    if(ev.target.id === 'start') {
                        startDate = ev.date;
                    } else {
                        endDate = ev.date;
                    }
                    if(endDate.getTime() > startDate.getTime()) {
                        displayPrice();
                    } else {
                        $('#bill').hide();
                    }
                })
            });
        });
    </script>
{#{% endblock %}#}
