{% extends 'base.html.twig' %}
{% block body %}
    {% set route = app.request.attributes.get('_route') %}

    <div class="cover-img" style="background: url({{ banner_directory ~'red-bottles.jpeg' }})">
        <div class="stepwizard col-md-offset-3" style="margin-top: 40px;color: white">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a type="button" class="btn btn-circle {% if route != 'rental_paiement_billing_address' %}{{ 'disabled btn-default' }}{% else %}{{  'btn-primary' }}{% endif %}">1</a>
                    <p>{% trans %}label.address{% endtrans %}</p>
                </div>
                <div class="stepwizard-step">
                    <a type="button" class="btn btn-circle {% if route != 'rental_paiement_gift' %}{{ 'disabled btn-default' }}{% else %}{{  'btn-primary' }}{% endif %}">2</a>
                    <p>{% trans %}label.offer{% endtrans %}</p>
                </div>
                <div class="stepwizard-step">
                    <a type="button" class="btn btn-circle {% if route != 'rental_paiement' %}{{ 'disabled btn-default' }}{% else %}{{  'btn-primary' }}{% endif %}">2</a>
                    <p>{% trans %}label.paiement{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    {% block new %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}