{% extends 'admin/base.html.twig' %}
{% block table %}
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>
                <button type="button" class="btn btn-default btn-circle btn-plus-admin" onclick="loadForm('{{ url('characteristicCategory_new_form', {'scopeName' : scopeName }) }}', 'characteristicCategory')">
                    <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                </button>Catégorie
            </th>
            <th>Icon</th>
            <th>Admin description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for characteristicCategory in characteristicCategories %}
            <tr>
                <td data-toggle="collapse" data-target="#characteristics-{{ characteristicCategory.id }}" class="accordion-toggle" style="cursor:pointer">
                    {% for characteristicCategoryTr in characteristicCategory.characteristicCategoryTrs %}
                        <img src="{{ language_directory ~ characteristicCategoryTr.language.picture }}" height="20px">
                        <span style="margin-left: 10px">{{ characteristicCategoryTr.name }}</span>
                        <br><br>
                    {% endfor %}
                </td>
                <td>
                    {% if characteristicCategory.picture is not null %}
                        <object style="float: left;" type="image/svg+xml" data="{{ characteristic_category_directory ~ characteristicCategory.picture }}" height="20px">
                        </object>
                    {% endif %}
                </td>
                <td data-toggle="collapse" data-target="#characteristics-{{ characteristicCategory.id }}" class="accordion-toggle" style="cursor:pointer">
                    {{ characteristicCategory.description }}
                </td>
                <td>
                    {% if characteristicCategory.characteristics is empty %}
                        <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('characteristicCategory_delete', {'scopeName':scopeName, 'id' : characteristicCategory.id, 'scopeName' : scopeName }) }}')"/>
                    {% else %}
                        {% if characteristicCategory.activated == 1 %}
                            {% set checked = 'checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}
                        <input {{ checked }} onchange="activate('{{ path('characteristicCategory_activated') }}', 'characteristicCategoryActivatedToggle', '{{ characteristicCategory.id }}')" id="characteristicCategoryActivatedToggle-{{ characteristicCategory.id }}" type="checkbox" value="{{ characteristicCategory.id }}" data-toggle="toggle" data-off="Not activated" data-on="Activated" data-onstyle="success">
                    {% endif %}
                    <input type="button" class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('characteristicCategory_new_form', {'scopeName' : scopeName, 'id' : characteristicCategory.id, }) }}', 'characteristicCategory')"/>
                </td>
            </tr>
            <tr id="characteristics-{{ characteristicCategory.id }}" class="collapse">
                <td colspan="3">
                    <table class="table table-condensed table-responsive">
                        <tbody>
                            {% for characteristic in characteristicCategory.characteristics %}
                                <tr>
                                    <td>
                                    {% for characteristicTr in characteristic.characteristicTrs %}
                                        <img src="{{ language_directory ~characteristicTr.language.picture }}" height="20px">
                                        <span style="margin-left: 10px">{{ characteristicTr.name }}</span>
                                        <br><br>
                                    {% endfor %}
                                    </td>
                                    <td>
                                        {% if characteristic.picture is not null  %}
                                            <img src="{{ characteristic_directory ~  characteristic.picture }}" height="20px">
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ characteristic.format.name }}
                                    </td>
                                    <td>
                                        <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('characteristic_new_form', {'characteristicCategoryId' : characteristicCategory.id, 'scopeName': scopeName, 'id' : characteristic.id}) }}', 'characteristic')"/>
                                        <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('characteristic_delete', {'id' : characteristic.id, 'scopeName': scopeName}) }}')"/>
                                        {% if characteristic.activated == 1 %}
                                            {% set checked = 'checked' %}
                                        {% else %}
                                            {% set checked = '' %}
                                        {% endif %}
                                        <input {{ checked }} onchange="activate('{{ path('characteristic_activated') }}', 'characteristicActivatedToggle', '{{ characteristic.id }}')" id="characteristicActivatedToggle-{{ characteristic.id }}" type="checkbox" value="{{ characteristic.id }}" data-toggle="toggle" data-off="Not activated" data-on="Activated" data-width="126"  data-onstyle="success">
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4">
                                    <button type="button" class="btn btn-default" onclick="loadForm('{{ path('characteristic_new_form', {'characteristicCategoryId' : characteristicCategory.id, 'scopeName': scopeName}) }}', 'characteristic')">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
