{% extends 'base.html.twig' %}
{% block body %}
            <div class="row">
                <div class="cover-img" style="background: url({{ banner_directory ~'red-bottles.jpeg' }})">
                    <div class="container">
                        {{ form_start(filterForm) }}
                        <div class="col-md-10 col-md-offset-1 col-sm-12" style="margin-top: 40px">
                            <div class="" style="padding: 25px 40px;background: rgba(255,255,255,.7)">
                                <div class="row" style="text-align: center">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{% trans %}label.wine_region{% endtrans %}</label>
                                            {{ form_errors(filterForm.wineRegion) }}
                                            {{ form_widget(filterForm.wineRegion) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{% trans %}label.when{% endtrans %}</label>
                                            <div id="sandbox-container">
                                                <div class="input-daterange input-group" id="datepicker">
                                                    {{ form_row(filterForm.startDate) }}
                                                    <span class="input-group-addon">{% trans %}label.to{% endtrans %}</span>
                                                    {{ form_row(filterForm.endDate) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{% trans %}label.people_number{% endtrans %}</label>
                                            {{ form_widget(filterForm.peopleNumber) }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row" style="text-align: center">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{% trans %}label.tags{% endtrans %}</label>
                                            <br>
                                            {{ form_widget(filterForm.tags) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>{% trans %}label.price{% endtrans %}</label>
                                                <br>
                                                {{ form_widget(filterForm.price) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_widget(filterForm.submit) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(filterForm) }}
                    </div>
                </div>
            </div>
            <div>
                {%  for domain in domains %}
                    {% set domainEditRoute = path('domain', {'id':domain.id, 'startDate': app.request.get('domain_filter')['startDate'], 'endDate':app.request.get('domain_filter')['endDate']}) %}
                    <div class="{% if loop.index is not divisibleby(2)  %}bg-grey{% endif %}">
                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="heading-title heading-title-alt">
                                            <h3 class="text-center">{{ domain.wineRegion.name }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-8">
                                        <div class="view view-tenth" >
                                            <img class="img-big-filter" src="{{ domain_directory ~ domain.domainMediasPresentation.domainMediaPresentation }}" style="width:100%" alt="{{ domain.name }}"/>
                                            <div class="property-features-grey text-center">
                                                <span>{{ domain.name }}</span>
                                            </div>
                                            <div class="mask">
                                                <h2>{{ domain.name }}</h2>
                                                <p>{{ domain.description |slice(0, 300) ~ '...'}}</p>
                                                <a href="{{ domainEditRoute }}" class="info">{% trans %}label.see_more{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden-sm hidden-xs col-md-4">
                                        <div class="property-image-list">
                                            <a href="{{ domainEditRoute }}#reservation">
                                                <img class="img-little-filter" class="img-responsive" src="{{ property_directory ~ domain.domainMediasPresentation.propertyMediaPresentation }}" alt="{{ domain.name }}" />
                                                <div class="property-features-grey text-center">
                                                    <span>{% trans %}label.make_a_reservation{% endtrans %}</span>
                                                </div>
                                            </a>
                                        </div>
                                        <br>
                                        <div class="property-image-list">
                                            <a href="{{ domainEditRoute }}#reservation">
                                                <img class="img-little-filter"  class="img-responsive" src="{{ rental_directory ~ domain.domainMediasPresentation.rentalMediaPresentation }}" alt="{{ domain.name }}" />
                                                <div class="property-features-grey text-center">
                                                    <span>{% trans %}label.make_a_reservation{% endtrans %}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="{{ domainEditRoute }}" class="btn btn-primary pull-right">{% trans %}label.see_more{% endtrans %} >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <script>
            $("#slider").slider({});
            $('#sandbox-container .input-daterange').datepicker({
                startDate: ""+getFormattedDate(new Date)+"'",
                format: 'dd-mm-yyyy',
                orientation: "bottom auto",
                autoclose: true
            });
            $('.selectpicker').selectpicker({
                noneSelectedText:'',
                width: '100%'
            });
        </script>
{% endblock %}
