{% extends 'baseLogin.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div>
                <br>
                <h3>{% trans %}label.create_an_account{% endtrans %}</h3>
                {% set class = "form-group has-error" %}
                {{ form_start(user) }}
                {{ form_errors(user) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group {% if user.firstName.vars.errors|length %}has-error{% endif %}">
                            <label>*{{ form_label(user.firstName) }}</label>
                            {{ form_errors(user.firstName) }}
                            {{ form_widget(user.firstName) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group {% if user.lastName.vars.errors|length %}has-error{% endif %}">
                            <label>*{{ form_label(user.lastName) }}</label>
                            {{ form_errors(user.lastName) }}
                            {{ form_widget(user.lastName) }}
                        </div>
                    </div>
                </div>
                <div class="form-group {% if user.email.first.vars.errors|length %}has-error{% endif %}">
                    <label> *{{ form_label(user.email.first) }}</label>
                    {{ form_errors(user.email.first) }}
                    {{ form_widget(user.email.first) }}
                </div>
                <div class="form-group {% if user.email.second.vars.errors|length %}has-error{% endif %}">
                    {{ form_errors(user.email.second) }}
                    {{ form_widget(user.email.second) }}
                </div>
                <div class="form-group {% if user.password.first.vars.errors|length %}has-error{% endif %}">
                    <label style="float:left">*{{ form_label(user.password.first) }}</label>
                    <a href="#" data-toggle="tooltip" title="{% trans %}error.password_format{% endtrans %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    {{ form_errors(user.password.first) }}
                    {{ form_widget(user.password.first) }}
                </div>
                <div class="form-group {% if user.password.second.vars.errors|length %}has-error{% endif %}">
                    {{ form_errors(user.password.second) }}
                    {{ form_widget(user.password.second) }}
                </div>
                <div class="form-group {% if user.agree.vars.errors|length %}has-error{% endif %}">
                    <span style="font-style: italic">{% trans %}label.agree_with_terms_of_use{% endtrans %} <a href="#">{% trans %}label.here{% endtrans %}.</a></span>
                    {{ form_errors(user.agree) }}
                    {{ form_widget(user.agree) }}
                </div>
                {{ form_end(user) }}
            </div>
        </div>
        <div class="col-md-8" style="padding: 0 !important; margin: 0 !important;">
            <img style="width: 100%"src="{{ picture_directory ~'sign-in.jpeg' }}">
        </div>
    </div>
{% endblock %}