{% extends 'user/box/base.html.twig' %}
{% block new %}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                {% trans %}label.pay{% endtrans %}
                </h4>
            </div>
            <div class="panel-body">
                {{ include('user/paiement/creditCard.html.twig') }}
            </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-file">
                        </span>  {% trans %}label.order_resume{% endtrans %}</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="service-box-v1">
                                    <div class="service-block service-block-default no-margin-bottom" style="text-align: left!important;padding-top: 3px!important;">
                                        <h4>{% trans %}label.billing_address{% endtrans %}
                                            <a href="{{ path('rental_paiement_billing_address') }}">
                                                <span style="float: right" class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </h4>
                                        <p style="margin-bottom:3px!important">
                                            <strong>{{ boxOrder.invoiceInformation.billingAddress.name }}</strong>
                                            <br>
                                            {{ boxOrder.invoiceInformation.billingAddress.additionalInformation }}<br>
                                            {{ boxOrder.invoiceInformation.billingAddress.streetAddress ~ '' ~boxOrder.invoiceInformation.billingAddress.route }}<br>
                                            {{ boxOrder.invoiceInformation.billingAddress.postalCode ~ '' ~boxOrder.invoiceInformation.billingAddress.locality }}<br>
                                            {{ boxOrder.invoiceInformation.billingAddress.country }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="service-box-v1">
                                    <div class="service-block service-block-default no-margin-bottom" style="text-align: left!important;padding-top: 3px!important;">
                                        <h4>{% trans %}label.delivery_address{% endtrans %}
                                            <a href="{{ path('rental_paiement_billing_address') }}">
                                                <span style="float: right" class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </h4>
                                        <p style="margin-bottom:3px!important"><strong>{{ boxOrder.invoiceInformation.deliveringAddress.name }}</strong><br>
                                            {{ boxOrder.invoiceInformation.deliveringAddress.additionalInformation }}<br>
                                            {{ boxOrder.invoiceInformation.deliveringAddress.streetAddress ~ '' ~boxOrder.invoiceInformation.deliveringAddress.route }}<br>
                                            {{ boxOrder.invoiceInformation.deliveringAddress.postalCode ~ '' ~boxOrder.invoiceInformation.deliveringAddress.locality }}<br>
                                            {{ boxOrder.invoiceInformation.deliveringAddress.country }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
        FancyBox.initFancybox();
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
            var card = new Card({
                form: document.querySelector('form'),
                container: '.card-wrapper',
                placeholders: {
                    number: '**** **** **** ****',
                    name: '{{ app.user.fullName }}',
                    expiry: '**/****',
                    cvc: '***'
                }
            });
        });
        $('#credit_card_cardNumber').on('change', function() {
            console.log(card.type);
        });
    </script>
{% endblock %}
