{% extends 'user/box/base.html.twig' %}
{% block new %}
    <div class="row">
        <div class="col-xs-6 col-md-offset-3">
            <br>
            <form name="boxItemChoice" method="post">
                {% for boxItem in box.boxItems %}
                    {% if boxItem.boxItemChoices|length > 0 %}
                        <input type="hidden" name="boxItemChoice[{{ loop.index }}][boxItem]" value="{{ boxItem.id }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ boxItem.id }}">
                                        <label>{{ boxItem.name }}</label>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="{{ boxItem.id }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ boxItem.description }}
                                </div>
                            </div>
                        </div>
                        <div>
                            <select name="boxItemChoice[{{ loop.index }}][boxItemChoice]" class="selectpicker">
                                {% for boxItemChoice in boxItem.boxItemChoices %}
                                    <option value="{{ boxItemChoice.id }}">{{ boxItemChoice.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br><br>
                    {% endif %}
                {% endfor %}
                <input type="submit" class="btn btn-default btn-primary" value="{% trans %}label.submit{% endtrans %}">
            </form>
        </div>
    </div>
    <script>
        $('.selectpicker').selectpicker({
        });
    </script>
{% endblock %}
