<ul class="nav navbar-nav">
    <li><a href="#">{% trans %}label.help{% endtrans %}</a></li>
    <li><a href="#">Mes avis</a></li>
    <li><a href="#">Réservations</a></li>
    <!-- Demo Pages -->
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <img class="circular-min-landscape"  src="{{ user_directory ~ app.user.picture }}">
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="mega-menu-content disable-icons">
                    <div class="container">
                        <div class="row equal-height">
                            <div class="col-md-3 equal-height-in">
                                <ul class="list-unstyled equal-height-list">
                                    <li><a href="{{ path('domain_edit', {'id': app.session.get('domainId')}) }}">Mon domain</a></li>
                                    <li><a href="{{ path('host_domain_properties', {'id':app.session.get('domainId')}) }}">Mes propriétés</a></li>
                                    <li><a href="{{ path('host_rentals', {'id':app.session.get('domainId')}) }}">Mes locations</a></li>
                                    <li><a href="{{ path('user_edit', {'id':app.user.id}) }}">Modifier le profil</a></li>
                                    <li><a href="{{ path('logout') }}">Déconnection</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <!-- End Demo Pages -->
</ul>