{% extends 'admin/base.html.twig' %}
{% block table %}
    <h4>Nouvel/Modifier Article</h4>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <fieldset class="form-group">
        {{ form_widget(form.article.id, {'id' : 'article'}) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.article.user) }}
        {{ form_widget(form.article.user) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.article.description) }}
        <br>
        {{ form_widget(form.article.description, {'attr': {'style': 'readonly: readonly'}}) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.article.picture) }}
        {{ form_widget(form.article.picture) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.article.articleCategories) }}
        <br>
        {{ form_widget(form.article.articleCategories) }}
    </fieldset>
    {{ form_widget(form.id, {'attr': {'style': 'display: none'}}) }}
    <fieldset class="form-group">
        {{ form_label(form.language) }}
        {{ form_widget(form.language) }}
    </fieldset>
    <fieldset class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title,  { 'attr': {'class': 'form-control', 'style': 'width: 50%;'} }) }}
    </fieldset>
    <fieldset class="form-group" id="description">
        {{ form_label(form.shortDescription) }}
        {{ form_widget(form.shortDescription,  { 'attr': {'class': 'form-control'} }) }}
    </fieldset>
    <fieldset class="form-group" id="description">
        {{ form_label(form.content) }}
        {{ form_widget(form.content,  { 'attr': {'class': 'form-control'} }) }}
    </fieldset>
    <fieldset class="form-group" id="description">
        <input type='hidden' value='0' name='article_tr[activated]'>
        {{ form_widget(form.activated,  { 'attr': {'class': 'form-control'} }) }}
    </fieldset>
    <a href="{{ path('article') }}" type="button" class="btn btn-default" data-dismiss="modal">Retour</a>
    <button type="submit" class="btn btn-primary">Valider</button>
{% endblock %}
{% block modal %}
{% endblock %}
{% block script %}
    <script>
        $("#article").live('submit', function () {
            console.log('aout');
            if(!document.getElementById($('#article_activated')).checked) {
                console.log('lolilo');
            } else {
                console.log('in');
            }
        });
    </script>
{% endblock %}
