{% extends 'admin/base.html.twig' %}
{% block table %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <button type="button" class="btn btn-default btn-circle btn-plus-admin" onclick="loadForm('{{ url('language_new_form')}}', 'language')">
                    <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                </button>Language
            </th>
            <th>Code</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.name }}</td>
                <td>{{ language.code }}</td>
                <td>
                    {% if language.picture is not null %}
                        <object type="image/svg+xml" data="{{ language_directory }}{{ language.picture }}" height="40px">
                        </object>
                    {% endif %}
                </td>
                <td>
                    <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('language_new_form', {'id' : language.id}) }}', 'language')"/>
                    <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('language_delete', {'id' : language.id}) }}')"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}