{% extends 'host/base.html.twig' %}
{% block table %}
    {% set route = app.request.attributes.get('_route') %}
    <div class="container">
        <div class="stepwizard col-md-offset-3">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a type="button" class="btn btn-circle {% if route != 'property_new' %}{{ 'disabled btn-default' }}{% else %}{{  'btn-primary' }}{% endif %}">1</a>
                    <p>{% trans %}label.property{% endtrans %}</p>
                </div>
                <div class="stepwizard-step">
                    <a type="button" class="btn btn-circle {% if route != 'property_characteristics' %}{{ 'disabled btn-default' }}{% else %}{{  'btn-primary' }}{% endif %}">2</a>
                    <p>{% trans %}label.informations{% endtrans %}</p>
                </div>
                <div class="stepwizard-step">
                    <a type="button" class="btn btn-circle {% if route != 'property_address' %}{{ 'disabled btn-default' }}{% else %}{{  'btn-primary' }}{% endif %}">3</a>
                    <p>{% trans %}label.address{% endtrans %}</p>
                </div>
                {#<div class="stepwizard-step">#}
                    {#<a type="button" class="btn btn-circle {% if route != 'property_picture' %}{{ 'disabled btn-default' }}{% else %}{{  'btn-primary' }}{% endif %}">4</a>#}
                    {#<p>{% trans %}label.presentation_picture{% endtrans %}</p>#}
                {#</div>#}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-offset-3">
                <div class="service-block-v8">
                    {% block new %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
