{% extends 'admin/base.html.twig' %}
{% block table %}
    <div id="success" class="alert alert-success" hidden>

    </div>
    <div id="error" class="alert alert-danger" hidden>
        <h4>Erreur lors de la création du wallet sur Lemon Way</h4>
        <p></p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                {% if app.request.get('group') != role_host and app.request.get('group') != role_user %}
                    <button type="button" class="btn btn-default btn-circle btn-plus-admin" onclick="loadForm('{{ url('user_new_form')}}', 'user')">
                        <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                    </button>Utilisateur
                {% endif %}
            </th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Dernière connexion</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastLogin|date('d-m-Y') }}</td>
                <td>
                    {% if app.request.get('group') == role_host %}
                        {% if  user.verify == 1 %}
                            {% set checked = 'checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}
                        <input {{ checked }} onchange="verifyUser('{{ path('user_verify') }}', '{{ user.id }}', this.checked)" type="checkbox"  data-toggle="toggle" data-off="Non validé" data-on="Valider" data-width="126"  data-onstyle="success">
                    {% endif %}
                    <input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('user_delete', {'id' : user.id}) }}')"/>
                    <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('user_new_form', {'id' : user.id}) }}', 'user')"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        function verifyUser(path, userId, checked) {
            $.ajax({
                url: path,
                type: 'PUT',
                data: {verify: checked ? 1 : 0, id: userId},
                async: true,
                success: function (data, textStatus, jqXHR) {
                    if(checked) {
                        $('#success').html('Le victiculteur à bien été publié, et son wallet a bien été créé !');
                    } else {
                        $('#success').html('Le victiculteur à bien été désactivé.');
                    }
                    $('#success').show();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var err = jqXHR.responseText;
                    $('#error p').html($(err).filter('title').text());
                    $('#error').show();
                }
            });
        }
    </script>
{% endblock %}