{% extends 'admin/base.html.twig' %}
{% block table %}
    <div id="success" class="alert alert-success" hidden>

    </div>
    <div id="error" class="alert alert-danger" hidden>
        <h4>Erreur lors de la création du wallet sur Lemon Way</h4>
        <p></p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                {% if app.request.get('group') != role_host and app.request.get('group') != role_user %}
                    <button type="button" class="btn btn-default btn-circle btn-plus-admin" onclick="loadForm('{{ url('user_new_form')}}', 'user')">
                        <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                    </button>Utilisateur
                {% else %}
                    Nom
                {% endif %}
            </th>
            {% if app.request.get('group') == role_host %}
                <th>Domain</th>
            {% endif %}
            {% if app.request.get('group') != role_host %}
                <th>{% trans %}label.phone_number{% endtrans %}</th>
                <th>{% trans %}label.email{% endtrans %}</th>
            {% else %}
                <th>{% trans %}label.order_initiate{% endtrans %}</th>
                <th>{% trans %}label.order_validate{% endtrans %}</th>
            {% endif %}
            <th>{% trans %}label.last_connexion{% endtrans %}</th>
            <th>{% trans %}label.action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.fullName }}</td>
                {% if app.request.get('group') == role_host %}
                    <td>{{ user.domains[0].name }}</td>
                {% endif %}
                {% if app.request.get('group') != role_host %}
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.email }}</td>
                {% else %}
                    {% set orderInitiate = 0 %}
                    {% set orderValidate = 0 %}
                    {% for rentalOrder in user.hostRentalOrders %}
                        {% if rentalOrder.invoiceInformation.status == order_initiate %}
                            {% set orderInitiate = orderInitiate + 1 %}
                        {% else  %}
                            {% set orderValidate = orderValidate + 1 %}
                        {% endif %}
                    {% endfor %}
                    <td>{{ orderInitiate }}</td>
                    <td>{{ orderValidate }}</td>
                {% endif %}
                <td>{{ user.lastLogin|date('d-m-Y') }}</td>
                <td>
                    {% if app.request.get('group') == role_host %}
                        {% if  user.verify == 1 %}
                            {% set checked = 'checked' %}
                        {% else %}
                            {% set checked = '' %}
                        {% endif %}
                        <input {{ checked }} onchange="verifyUser('{{ path('user_verify') }}', '{{ user.id }}', this.checked)" type="checkbox"  data-toggle="toggle" data-off="Non validé" data-on="Valider" data-width="126"  data-onstyle="success">
                        {#<input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('user_delete', {'id' : user.id}) }}')"/>#}
                        {% if user.domains|length > 0 %}
                            {% set domain = user.domains.first() %}
                            <a href="{{ path('domain_edit', {'id': domain.id}) }}">
                                <input type="button"  class="btn btn-primary" value="Editer" />
                            </a>
                        {% endif %}
                    {% else %}
                        {#<input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('user_delete', {'id' : user.id}) }}')"/>#}
                        <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('user_new_form', {'id' : user.id}) }}', 'user')"/>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        function verifyUser(path, userId, checked) {
            $.ajax({
                url: path,
                type: 'PUT',
                data: {verify: checked ? 1 : 0, id: userId},
                async: true,
                success: function (data, textStatus, jqXHR) {
                    if(checked) {
                        $('#success').html('Le victiculteur à bien été publié, et son wallet a bien été créé !');
                    } else {
                        $('#success').html('Le victiculteur à bien été désactivé.');
                    }
                    $('#success').show();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var err = jqXHR.responseText;
                    $('#error p').html($(err).filter('title').text());
                    $('#error').show();
                }
            });
        }
    </script>
{% endblock %}