{% extends 'admin/base.html.twig' %}
{% block table %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <button type="button" class="btn btn-default btn-circle btn-plus-admin" onclick="loadForm('{{ url('user_new_form')}}', 'user')">
                    <i class="glyphicon glyphicon-plus glyphicon-plus-admin"></i>
                </button>Utilisateur
            </th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Dernière connexion</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.lastLogin }}</td>
                <td>
                    {% if user.enabled == 1 %}
                        {% set checked = 'checked' %}
                    {% else %}
                        {% set checked = '' %}
                    {% endif %}
                    {#<input {{ checked }} onchange="activate('{{ path('user_activated') }}', 'userActivatedToggle', '{{ user.id }}')" id="userActivatedToggle-{{ user.id }}" type="checkbox" value="" data-toggle="toggle" data-off="Not activated" data-on="Activated" data-onstyle="success">#}
                    {#{% if user.deleted == 1 %}#}
                        {#<input type="button" class="btn btn-danger" value="Supprimer" onclick="setPathDeleteButton('{{ path('user_admin_delete', {'id' : user.id}) }}')"/>#}
                    {#{% endif %}#}
                    <a href="{{ path('wallet_create', {'id' :user.id })}}">
                        <input type="button" class="btn btn-danger" value="Activer"/>
                    </a>
                    <input type="button"  class="btn btn-primary" value="Editer" id="update" onclick="loadForm('{{ path('user_new_form', {'id' : user.id}) }}', 'user')"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}